//- includes/sections/components/competition_menu.jade
#competition_mobile_menu_container
			ul.competition-headings#competition_mobile_menu
				li 
					a.selected(href="#competition/0") 競賽主題
				li
					a(href="#competition/1") 參賽資訊
				li 
					a(href="#competition/2") 獎項
				li 
					a(href="#competition/3") 承辦贊助