//- includes/sections/about.jade

.section#sec_about.container.primary_bg.section-padding.no-pad(data-anchor='about')
	.top_animation.col-md-12.col-centered.zindex.xs-no-pad
		.rocket
		.col-md-8.col-centered
			.border_container
				.border.top
				.border.right
				.border.bottom.b_right
				.border.bottom.b_left
				.border.left
				p.white-text
					|渴望更多在國際舞台嶄露才華的機會嗎？現在，與世界接軌的鑰匙就掌握在你手上！亞洲人才與創業孵化平台 - 
					a.primary-text(href="http://ping.com.sg", target="_blank") 
						|Ping! 
					|為推動創業風氣，與新加坡知名創投公司 - 
					a.primary-text(href="http://venturecraft.vc", target="_blank") 
						|Venturecraft VC 
					|共同打造 Jumpstart 計畫！ <br/><br/>

					|Jumpstart，亞洲第一個跨國商業合作計畫，我們幫助當地企業、人才與國際接軌，將有前景的理念、產品於世界舞台綻放，創造更大的商機。我們將不定期提供巨量的 OPEN DATA 及多元題材，期望各方人才組隊報名，互相激盪，創造更多商業價值。我們期待你的加入！