//- includes/sections/about.jade

.section#sec_about.container.primary_bg.section-padding.no-pad(data-anchor='about')
	.top_animation.col-md-12.col-centered.zindex.xs-no-pad
		.rocket
		.col-md-8.col-centered
			.border_container
				.border.top
				.border.right
				.border.bottom.b_right
				.border.bottom.b_left
				.border.left
				p.white-text
					|機器人不再只是取代生產線上密集勞力的精密儀器，更將走入家庭，成為您生活中的一份子。你對明日世界的想像即將從全台第一場 Jumpstart Pepper 機器人開發大賽從紮實的8周應用及實作課程中逐步實現。延伸機器人的應用，讓機器人協助人類生活的情境更豐富多元。
					<br><br/>
					|比賽內容分為四大產業：零售、金融、教育及健康，將評選出各產業的首獎及前三名，總獎金高達一百萬台幣。
					<br/><br/>
					|本活動由 Star Rocket  及 亞洲人才與創業孵化平台 - Ping! 共同合辦。
					a.primary-text(href="http://starrocket.io/", target="_blank") 
						|三創育成基金會
					|及 亞洲人才與創業孵化平台 - 
					a.primary-text(href="http://www.ping.com.sg/", target="_blank") 
						|Venturecraft VC 
					|共同合辦。 <br/><br/>