//- includes/sections/competition.jade
.section#sec_competition.container.no-pad(data-anchor='competition').fp-auto-height
	.slide.competition_topic.active#competition_topic_slide.relative-position.slide-padding
		.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
			.border_container
				.border.top
				.border.right.R_top
				.border.right.R_bottom
				.border.bottom
				.border.left
				.border.straight_line
				.border.straight_line_down
				.border.horizon_line
				a.competition_topic_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/1") next
				.col-md-12.clearfix.no-pad
					ul.competition-headings#competition_menu
						li 
							a.selected(href="#competition/") 競賽主題
						li
							a(href="#competition/1") 參賽資訊
						li 
							a(href="#competition/2") 獎項
						li 
							a(href="#competition/3") 承辦贊助
				.col-md-12
					.col-md-5.col-sm-5
						h4 jumpstart 
							span with 
							|humanoid 
							span Pepper! 			
					.col-md-7.col-sm-7.clearfix
						h5 
							|相信嗎？機器人即將扭轉未來！<br/>
							|手機 APP OUT! Humanoid APP IN! 

						p 
							|情感(Pepper)機器人除了能察言觀色、說學逗唱還能陪伴人類，並提供服務讓使用者與外在世界連結。台灣第一場 Pepper 機器人開發大賽，徵求對改變以下產業應用有想法的你
							ul 
								li 
									i.fa.fa-rocket
									|零售
								li 
									i.fa.fa-rocket
									|金融
								li 
									i.fa.fa-rocket
									|教育
								li 
									i.fa.fa-rocket
									|健康
							
							|你就站在時代的浪頭上。改變，從你開始，把你對未來世界的想像化為真實！ 

				
		a.navy.btn.btn-4.btn-4a.icon-arrow-down2(href='#jumpnow') 我要改變世界！
					

	.slide#competition_info_slide.slide-padding
		.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
			.border_container
				.border.top
				.border.right.R_top
				.border.right.R_bottom
				.border.bottom
				.border.left
				.border.horizon_line
				.border.horizon_line_left
				a.competition_info_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition") prev
				a.competition_info_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/2") next
				
				.col-md-12.clearfix.no-pad-m
					ul.competition-headings#competition_menu
						li 
							a(href="#competition/") 競賽主題
						li
							a.selected(href="#competition/1") 參賽資訊
						li 
							a(href="#competition/2") 獎項
						li 
							a(href="#competition/3") 承辦贊助
				.col-md-12.info_list
					ul
						li
							i.fa.fa-rocket 
							|歡迎組隊前來參加機器人工作坊課程，每一隊
							b.primary-text 最多 5 人
							|，建議含程式開發、設計及商業應用等領域背景。
						li 
							i.fa.fa-rocket 
							|主辦單位提供機器人開發 API 給參賽者，以金融、零售、教育與健康等四大產業任選一種為參賽主題。
						li 
							i.fa.fa-rocket 
							|參賽隊伍可使用 Pepper Studio 實測開發應用與機器人的流暢度。
						li 
							i.fa.fa-rocket 
							|遞交參賽作品後，將由評審團評選產業
							b.primary-text 各5組
							|，如遇優秀作品主辦單位可增加入圍決賽隊伍。
						li 
							i.fa.fa-rocket 
							|報名費用：社會組 2,000 元，學生組七折優惠計 1,400 元，全隊可免費參加8堂機器人工作坊。
				
				.col-md-12
					.timeline
						ul
							li 
								h4 線上報名
									span 四週
								p 截止時間:  00:00 15/06/2016
							li 
								h4 課程
									span 七週
								p 開始時間:  14:00 02/07/2016
								p ＠
									a.primary-text(href="http://starrocket.io/space/", target="_blank")
										|三創育成活動場地(11F)
							//- li 
							//- 	h4 作品遞交
							//- 		span 兩週
							//- 	p 截止時間:  00:00 14/08/2016
							li 
								h4 決賽入圍
									span 四週
								p 公佈時間:  12:00 24/08/2016
							li 
								h4 總決賽
									span 四週
								p 開始時間:  18:00 03/09/2016
								p @ 
									a.primary-text(href="http://www.syntrend.com.tw/floor/store?fid=5", target="_blank")
										|三創 Clapper Studio
								
		

	.slide#competition_prize_slide.slide-padding
		.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
			.border_container
				.border.top
				.border.right.R_top
				.border.right.R_bottom
				.border.bottom
				.border.left
				.border.horizon_line
				.border.horizon_line_left
				a.competition_info_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition/1") prev
				a.competition_info_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/3") next
				.col-md-12.clearfix.no-pad
					ul.competition-headings#competition_menu
						li 
							a(href="#competition") 競賽主題
						li
							a(href="#competition/1") 參賽資訊
						li 
							a.selected(href="#competition/2") 獎項
						li 
							a(href="#competition/3") 承辦贊助
					.col-md-12
						.col-md-12.hidden-xs
							.col-md-4.col-sm-4.second-place
								.prize-single
								h4 NTD$250,000 
							.col-md-4.col-sm-4.first-place
								.prize-single
								h4 NTD$350,000
							.col-md-4.col-sm-4.third-place
								.prize-single
								h4 NTD$150,000
						.col-md-12.visible-xs
							.col-md-4.col-sm-4.first-place
								.prize-single
								h4 NTD$350,000										
							.col-md-4.col-sm-4.second-place
								.prize-single
								h4 NTD$250,000 
							
							.col-md-4.col-sm-4.third-place
								.prize-single
								h4 NTD$150,000
						.col-md-12
							p *前三名團隊可接受贊助於新加坡設立境外公司 <br/>四大領域首獎，分別有豐厚的獎金獎品！<br/>
								small
									＊評審小組與主辦單位得視競賽情形作成從缺、或獎金增額之決議。<br/>
								small
									＊主辦單位保有修改、終止、變更活動內容細節之權利，且不另行通知。

	.slide#competition_sponsor_slide.slide-padding
		.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
			.border_container
				.border.top
				.border.right.R_top
				.border.right.R_bottom
				.border.bottom
				.border.left
				.border.horizon_line_left
				a.competition_prize_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition/2") prev
				.col-md-12.clearfix.no-pad
					ul.competition-headings#competition_menu
						li 
							a(href="#competition") 競賽主題
						li
							a(href="#competition/1") 參賽資訊
						li 
							a(href="#competition/2") 獎項
						li 
							a.selected(href="#competition/3") 承辦贊助
					.col-md-12.clearfix.sponsor-group
						.col-md-3
							h3 主辦單位
							ul.sponsor-list.col-md-12.col-sm-12.clearfix
								li 
									img(src="../img/org_starrocket_pepper.png")
									span 
										|三創育成 (Star Rocket) 是台灣第一個結合 3C商場與創業搖籃的新創基地，由 
										a.primary-text(href="hhttp://starrocket.io/", target="_blank")
											|三創育成基金會
										|執行運作。不僅提供創業家一同工作、腦力激盪的舒適環境之外，更具備活化新創生態圈的 
										a.primary-text(href="http://bit.ly/1q5kAk1", target="_blank")
											|社群場域及源源不絕的活動內容
										|，讓團隊進駐後衝刺之餘，也兼顧業界的脈動。歡迎未來的創業家訂閱由我們每週為大家整理的 
										a.primary-text(href="http://bit.ly/1PzOQYW", target="_blank")
											|創業補給懶人包
										|！
										a.gotosite(href="http://starrocket.io ", target="_blank") 	前往官網
								li 
									img(src="../img/ping_logo.png")
									span 
										|來自新加坡的專業集團，打造出連續成功創業的佳績。Ping!，一個專業孵化平台，透過嚴格篩選talent，進而培養並激發各種可能，讓你與國際公司共同打造產品，提升自身能力及經驗。更進一步幫助平台內團隊相互砥礪，孵化、成長、綻放國際。
										a.gotosite(href="http://ping.com.sg", target="_blank") 	前往官網

						.col-md-9.col-sm-12.clearfix
							h3 贊助單位
							.col-md-12.no-pad
								ul.sponsor-list.second
									li 
										img(src="../img/venture_craft_logo.png")
										span
											|沛博科技
											a.gotosite(href="http://www.venturecraft.vc" ,target="_blank") 	前往官網
									li 
										img(src="../img/venture_craft_logo.png")
										span
											|Venturecraft，一間創投公司，致力於幫助各階段的新創公司開發產品、進入市場，提高國際競爭力。 我們與Singapore-MIT Alliance for Research And Technology (SMART) Innovation Centre、新加坡政府共同建立與國際接軌的橋樑。
											a.gotosite(href="http://www.venturecraft.vc" ,target="_blank") 	前往官網
									li 
										img(src="img/DSEE_logo.png")
										span
											|國際企業發展局(IE Singapore)為新加坡組織機關，致力於促進新加坡企業開展海外經濟合作，協助新加坡企業國際化。我們的願景是發展一個Globally Competitive Companies(GCCS)的商業中心，領先全球國際貿易。
											
											a.gotosite(href="http://www.iesingapore.gov.sg" ,target="_blank") 	前往官網
									li 
										img(src="../img/org_syntrend_pepper.png")
										span
											|三創生活。
											
											a.gotosite(href="http://www.syntrend.com.tw/" ,target="_blank") 	前往官網
									li
										img(src="../img/365_logo.png")
										span
											|VCOOL
											a.gotosite(href="http://365corpserv.com/" ,target="_blank") 	前往官網
									li 
										img(src="img/DSEE_logo.png")
										span
											|Powerforpoint。
											
											a.gotosite(href="http://www.iesingapore.gov.sg" ,target="_blank") 	前往官網
									li 
										img(src="../img/e27_logo.png")
										span
											|安安！
											a.gotosite(href="https://e27.co", target="_blank") 	前往官網