//- includes/sections/events.jade
.section#sec_events.section-padding(data-anchor='events')
				.event_group.col-md-12
					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								h3 Ninebot
									span 8月 2016
								
								
							.back_face
								p.description
									a.primary-text(href="http://www.ninebot.com", target="_blank") 
										|Ninebot
									|，最大的機器人移動設備製造商，正在打造一個機器人平台讓開發者們研發更多的創新產品。</br></br>
									|而
									a.primary-text(href="http://www.ninebot.com", target="_blank") 
										|Ninebot 
									| 更在2015收購
									a.primary-text(href="http://www.segway.com", target="_blank") 
										|Segway
									|，並在未來研發家用機器人，打破你對生活的定義。</br></br>
									|讓我們期待下次的挑戰吧！
					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								h3 美圖秀秀
									span 2月 2017
								
							.back_face
								p.description 
									|愛美是人的天性，拜APP所賜，輕鬆修圖創造了『顏值』經濟。</br></br>
									a.primary-text(href="http://xiuxiu.meitu.com", target="_blank") 
										|美圖秀秀
									|成立於2008年並在2015年10月31日為止成為，一個擁有9億行動用戶的修圖APP，成功讓他擠身成為全球前十大行動應用開發商。</br></br>
									|而如此龐大的用戶量能帶給我們什麼驚喜呢？
					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								.event_tw_comingsoon
									h3 COMING SOON!
								
							.back_face
								p.description 本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
				
