//- Home Section
.section#sec_home.sec_home_bg.container.section-padding(data-anchor='home').fp-auto-height
	header.container#header.zindex
		.navbar-header.col-md-12
			
			//-MENU
			.col-md-2
				a(class='navbar-brand' href='#home') JumpStart.
			#main_menu.col-md-10.main-menu
				.menu-bg.hidden-md.hidden.lg
				.menu-burger.hidden-md.hidden-lg ☰
				ul.menu.hidden-xs.hidden-sm
					li(data-menuanchor='about')
						a(href='#about') about
					li(data-menuanchor='competition')
						a(href='#competition') competition
					li.jumpnow_link(data-menuanchor='jumpnow') 
						a(href='#jumpnow') 
							i.fa.fa-rocket 
							| jump now

					li(data-menuanchor='events') 
						a(href='#events') events
				//- MOBILE MENU
				.menu-items-mobile
					ul.menu.hidden-md.hidden-lg
						li(data-menuanchor='about')
							a(href='#about') about
						li(data-menuanchor='competition')
							a(href='#competition') competition
						
						li.jumpnow_link(data-menuanchor='jumpnow') 
							a(href='#jumpnow') jump now
						li(data-menuanchor='events') 
							a(href='#events') events



	.sloganContainer.zindex
		h2 
			b 當你擁有
		h2 
			span 100,000,000位 
		h2 使用者，你會 

		.slotMachine#slot3 
			span.slot 代筆寫論文
			span.slot 去上課點名
			span.slot 下樓倒垃圾
			span.slot 準時接小孩
			span.slot 下廚煮宵夜
			span.slot 監督我運動
			span.slot 管理水電雜費
			//- span.slot 準備創業計畫
		//- span.machine-border &nbsp	

		a#slotButton3.btn.btn-4.btn-4a.orange.icon-arrow-down2 開始行動
		//- span.machine-border