//- includes/sections/jumpnow.jade
.section#sec_jumpnow(data-anchor='jumpnow').fp-auto-height.section-padding.no-pad
				form#reg_form(action="/upload",enctype="multipart/form-data",method="post")  
					.slide.jumpnow_part1.zindex.slide-padding
						.slide-inner.zindex.clearfix.col-md-9.col-centered
							.col-md-5.jumpnow-des.no-pad
								.border_container.add-border-pad
									.border.top
									.border.right
									.border.bottom
									.border.L_top
									.border.L_bottom
									.border.horizon_line#jumpnow_part1_line
									h3 三步驟立即改變世界！<br>
										//- span.en_para Jumpstart
										//- | 計畫!
									ul.plan_list
										li 
											b 下載   
											| 大賽報名表
										li 
											b 完成   
											| 團隊報名資料
										li 
											b 送出 
											| JumpStart計畫！
							.col-md-6.col-md-offset-1.white-text.jumpnow-btn-set.clearfix
								.border_container#border_btn
									.border.horizon_line
								a.bizplan_download.btn.btn-4.btn-4a.sec-orange(href='../file/BP_example.docx',target="_blank") 機器人大賽報名表 
										i.fa.fa-cloud-download
								a.imready.btn.btn-4.btn-4a.orange.icon-arrow-right(href='#jumpnow/1') 我準備好了!
									
						
					.slide.team_details.slide-padding
						.col-md-10.col-centered
							h2.hoshi 1. 填寫隊伍資訊
						.slide-inner.zindex.relative-position.clearfix.no-pad.col-md-9.col-centered
							.border_container.add-border-pad
								.border.top
								.border.right.R_top
								.border.right.R_bottom
								.border.bottom
								.border.left
								.border.horizon_line
								
								//- a.slide_next.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow/2") next
								//- a.slide_prev.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow") prev
								
								.col-md-11.clearfix
								.col-md-6.clearfix
										span.input.input--hoshi.team_other
											input#input-4.input__field.input__field--hoshi(type='text',name='team_name')
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 隊伍名稱
													span.input__label-content.input__label-content--hoshi.reminder
										span.input.input--hoshi.team_other 
											//- |產品介紹	 
											
											//- span#counter_container.reminder 
											//- 	|還剩下
											//- 	span#counter.reminder  200
											//- 	|字 
												
											span 團隊組別
											input(type='radio', name='team_category',value='student' checked) 
											span 學生組
											input(type='radio', name='team_category',value='society') 
											span 社會組
											//- textarea(name='product_brief')#product_brief
										span.input.input--hoshi.team_member
												input#input-4.input__field.input__field--hoshi(type='text' ,name='team_leader_name')
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
														span.input__label-content.input__label-content--hoshi 隊長
														span.input__label-content.input__label-content--hoshi.reminder
										
										span.input.input--hoshi.responsibility
											input#input-4.input__field.input__field--hoshi(type='text' ,name='mobile')

											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 手機
													span.input__label-content.input__label-content--hoshi.reminder
										span.input.input--hoshi.responsibility
											input#input-4.input__field.input__field--hoshi(type='text' ,name='leader_email')

											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 信箱
													span.input__label-content.input__label-content--hoshi.reminder
										span.input
											.custom-file-upload.clearfix
													input#file.input__field(type='file',name='BP_file',multiple)
													span.input__label-content.input__label-content--hoshi.reminder
													label.input__label(for='file')

									.col-md-6.clearfix
										.team_detail_single.clearfix
											span.input.input--hoshi.team_member
												input#input-4.input__field.input__field--hoshi(type='text' ,name='member_name')
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
														span.input__label-content.input__label-content--hoshi 隊員
														span.input__label-content.input__label-content--hoshi.reminder
											span.input.input--hoshi.responsibility
												input#input-4.input__field.input__field--hoshi(type='email' ,name='member_email')

												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
														span.input__label-content.input__label-content--hoshi 信箱
														span.input__label-content.input__label-content--hoshi.reminder
											
										button(id='add_member') 添加成員
								
								.col-md-12.col-centered
									label.iagree.agree_subscribe
											input#agree_subscribe(type="checkbox", name='agree_subscribe', value="true" checked) 
											span 是否同意訂閱 
												a(href='http://bit.ly/1RwDLdo')
													| StarRocket創業週報
												，了解臺灣新創圈
											span.input__label-content.input__label-content--hoshi.remind
									label.iagree.agree_terms
										input#agree_terms(type="checkbox", name='agree_terms', value="true") 
										
										span   我同意本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
										//- span 我已閱讀報名條款？
										span.input__label-content.input__label-content--hoshi.reminder
								a#reg_btn.submit_btn.btn.btn-4.btn-4a.orange
										|完成了，我要提交!
							.nav_group
								a(class='button prev_btn',href='#jumpnow/0') 上一步
								
								//- a(class='button next_btn', href='javascript:void(0);') 下一步
					//- .slide.personal_details.fp-auto-height.jumpnow-slide-padding.slide-padding
						.col-md-10.col-centered
							h2.hoshi 2. 聯絡人資料
						.slide-inner.zindex.clearfix.no-pad.col-md-9.col-centered
							.border_container.add-border-pad
								.border.top
								.border.right.R_top
								.border.right.R_bottom
								.border.bottom
								.border.left
								//- a.slide_prev.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow/1") prev
								.col-md-6.personal_details_group
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='contact')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 姓名
												span.input__label-content.input__label-content--hoshi.reminder
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='phone')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 電話
												span.input__label-content.input__label-content--hoshi.reminder
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='email')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi Email
												span.input__label-content.input__label-content--hoshi.reminder
										input#device(type="hidden", name='device',value='pc')
									label.iagree
										input#agree(type="checkbox", name='agree' value="我同意") 
										
										span   我同意本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
										span.input__label-content.input__label-content--hoshi.reminder

									//- input.col-centered(type='submit' value='我要提交計畫')
									a#reg_btn.submit_btn.btn.btn-4.btn-4a.orange
										|完成了，我要提交!
								.nav_group
										a(class='button prev_btn',href='#jumpnow/1') 上一步