.section.sec_tagboard#sec_tagboard(data-anchor='tagboard')
	.tagboard-embed(tgb-slug="TravelPhotography/266732", tgb-layout="waterfall" ,tgb-feed-type="default" ,tgb-toolbar="light", tgb-animation-type="default")
	script(src='https://static.tagboard.com/public/js/embedAdvanced.js')