/*
	SkyApp Bootstrap Sass Theme
	Author: Janet Hsu
	Version: 0.0.1
*/
/* BASE -Base Styles, Variables, mixins, etc* */
/*Font Colors*/
/*Background Colours*/
/*Setting*/
/* Showcase Area */
/* Mixins */
/* line 1, ../sass/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../sass/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../sass/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../sass/base/_normalize.scss */
.fp-tableCell {
  vertical-align: top !important;
}

/*the setting about the slotMachine*/
/* line 18, ../sass/base/_normalize.scss */
.slotMachine {
  height: 33px;
  margin-bottom: 10px;
}

/* line 22, ../sass/base/_normalize.scss */
#slot2 .slot {
  height: 33px;
}

/* line 25, ../sass/base/_normalize.scss */
#slot2 .slot:nth-child(3) {
  visibility: hidden;
}

/* line 28, ../sass/base/_normalize.scss */
#slot3 {
  margin-left: 152px;
  margin-top: -62px;
  height: 1.5em;
}

/* line 33, ../sass/base/_normalize.scss */
#slot3 .slot {
  display: block;
  height: 1.5em;
}

/* line 37, ../sass/base/_normalize.scss */
#slotButton3 {
  cursor: pointer;
}

/* line 41, ../sass/base/_normalize.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 1, ../sass/base/_base.scss */
body {
  font-family: "文鼎黑體", Sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  color: #333333;
}

/* line 10, ../sass/base/_base.scss */
a {
  color: #fff;
}

/* line 14, ../sass/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 18, ../sass/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 22, ../sass/base/_base.scss */
img.device {
  width: 100%;
}

/*BACKGROUND COLOUR***/
/* line 29, ../sass/base/_base.scss */
.primary_bg {
  background-color: #f16b29;
}

/*POSITIONS****/
/* line 35, ../sass/base/_base.scss */
.relative-position {
  position: relative;
}

/*FONTS****/
/* line 41, ../sass/base/_base.scss */
.en_para {
  font-family: "raleway";
}

/* line 44, ../sass/base/_base.scss */
.cn_para {
  font-family: "heisei-kaku-gothic-std";
}

/* line 48, ../sass/base/_base.scss */
.primary-color {
  color: #f16b29;
}

/* line 51, ../sass/base/_base.scss */
.white-color {
  color: #ffffff;
}

/**COLUMNS SETTINGS***/
/* line 57, ../sass/base/_base.scss */
.container {
  min-width: 1388px;
}

/* line 60, ../sass/base/_base.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* MODULES - Individual sit componets */
/* List */
/* line 4, ../sass/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 30px;
}

/* line 8, ../sass/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 14, ../sass/modules/_typography.scss */
.list-feature li {
  line-height: 2.2em;
  border-bottom: 1px solid #cccccc;
}
/* line 19, ../sass/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}

/* Blocks */
/* line 3, ../sass/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 7, ../sass/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 14, ../sass/modules/_blocks.scss */
.block-primary {
  background: #f16b29;
  color: #fff;
}

/* line 19, ../sass/modules/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #fff;
}

/* line 24, ../sass/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666;
}

/* line 29, ../sass/modules/_blocks.scss */
.block-dark {
  background: #333333;
  color: #fff;
}

/* line 34, ../sass/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* Sections */
/* line 2, ../sass/modules/_sections.scss */
div.fp-section {
  padding: 10% 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/****HOME******/
/* line 16, ../sass/modules/_sections.scss */
div#sec_home, div#sec_competition {
  background: url("../img/home_bg.jpg") no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* line 28, ../sass/modules/_sections.scss */
.sloganContainer {
  margin-top: 50px;
  max-width: 500px;
  overflow: hidden;
  color: white;
  height: 700px;
}
/* line 34, ../sass/modules/_sections.scss */
.sloganContainer h2 {
  font-size: 50px;
}
/* line 39, ../sass/modules/_sections.scss */
.sloganContainer .slotMachine {
  font-size: 40px;
  position: relative;
  display: block;
}
/* line 47, ../sass/modules/_sections.scss */
.sloganContainer span.machine-border {
  display: block;
  background: #fff;
  height: 1px;
  width: 250px;
  float: right;
  margin-right: 141px;
  margin-top: -6px;
}
/* line 57, ../sass/modules/_sections.scss */
.sloganContainer #slot3 {
  margin-left: 107px;
}
/* line 61, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 {
  margin-top: 40px;
  width: 170px;
  padding: 10px;
  display: block;
  font-size: 33px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
}
/* line 77, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span {
  position: absolute;
  right: 0;
  top: 0;
  height: 58px;
  width: 50px;
  text-indent: -9999px;
}
/* line 86, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span:before {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 30px;
  top: 8px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
/* line 101, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span:after {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 57px;
  top: 36px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 117, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3:hover {
  margin-left: 15px;
}

/*ABOUT SECTIOIN***/
/* line 129, ../sass/modules/_sections.scss */
.rocket {
  position: absolute;
  width: 278px;
  height: 221px;
  background: url(../img/rocket.png) no-repeat center center;
}

/********** Jump Now Section ********/
/* line 137, ../sass/modules/_sections.scss */
div#sec_jumpnow {
  background: #f16b29;
}

/* Searchbox */
/* line 4, ../sass/modules/_forms.scss */
div.slide.team_details input.input__field--hoshi, div.slide.personal_details input.input__field--hoshi {
  min-height: 50px;
  color: white;
  float: left;
}
/* line 9, ../sass/modules/_forms.scss */
div.slide.team_details span.input, div.slide.personal_details span.input {
  float: left;
  clear: both;
}
/* line 13, ../sass/modules/_forms.scss */
div.slide.team_details span, div.slide.personal_details span {
  padding: 0;
  color: white;
}

/* LAYOUTS- Page Layout Styles */
/*NavBar*/
/* line 3, ../sass/layouts/_nav.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 12, ../sass/layouts/_nav.scss */
.navbar a {
  color: #f16b29 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 21, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #f16b29 !important;
  color: #fff !important;
}

/* line 1, ../sass/layouts/_header.scss */
header {
  position: fixed !important;
  top: 0;
  left: 0;
  float: left;
  width: 100% !important;
  margin: 20px auto;
  padding: 0 10% !important;
}
/* line 9, ../sass/layouts/_header.scss */
header div {
  float: left;
  padding: 0 !important;
}
/* line 13, ../sass/layouts/_header.scss */
header a.navbar-brand {
  display: block;
  width: 220px;
  height: 50px;
  padding: 0;
  margin: 0;
  background: url(../img/jumpstart-logo.png) left no-repeat;
  text-indent: -9999px;
}

/* line 25, ../sass/layouts/_header.scss */
div.main-menu {
  float: right;
}

/* line 29, ../sass/layouts/_header.scss */
ul.menu {
  margin: 0;
  float: right;
  display: block;
}
/* line 33, ../sass/layouts/_header.scss */
ul.menu li {
  float: left;
  padding-right: 100px;
  margin: 13px 0px;
  text-transform: uppercase;
  text-align: right;
}
/* line 40, ../sass/layouts/_header.scss */
ul.menu li a {
  text-align: right;
  display: block;
  padding: 3px 10px;
  font-family: "raleway";
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 48, ../sass/layouts/_header.scss */
ul.menu li a:hover {
  color: white;
}

/* line 55, ../sass/layouts/_header.scss */
.jumpnow_link a {
  background: rgba(242, 107, 42, 0.7);
}
