/*
	SkyApp Bootstrap Sass Theme
	Author: Janet Hsu
	Version: 0.0.1
*/
/* BASE -Base Styles, Variables, mixins, etc* */
/*Font Colors*/
/*Font Size*/
/*Background Colours*/
/*Setting*/
/* Showcase Area */
/* Mixins */
/* line 1, ../sass/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../sass/base/_normalize.scss */
h3 {
  font-size: 30px;
}

/* line 9, ../sass/base/_normalize.scss */
a {
  cursor: pointer;
}

/* line 12, ../sass/base/_normalize.scss */
a:hover {
  text-decoration: none;
}

/* line 16, ../sass/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 20, ../sass/base/_normalize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 24, ../sass/base/_normalize.scss */
.fp-tableCell {
  vertical-align: top !important;
}

/* line 28, ../sass/base/_normalize.scss */
.fp-controlArrow.fp-prev {
  height: 120px;
  width: 65px;
  -moz-border-radius: 150px 0 0 150px;
  border-radius: 0 150px 150px 0;
  -ms-border-radius: 0 150px 150px 0;
  -webkit-border-radius: 0 150px 150px 0;
  border: 1px solid #BBB;
  left: -26px;
}
/* line 38, ../sass/base/_normalize.scss */
.fp-controlArrow.fp-prev:before {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 25px;
  height: 40px;
  left: 25px;
  top: 42px;
  border-top: 1px solid #bbb;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 53, ../sass/base/_normalize.scss */
.fp-controlArrow.fp-prev:after {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 25px;
  height: 40px;
  left: 25px;
  top: 32px;
  border-top: 1px solid #bbb;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*the setting about the slotMachine*/
/* line 71, ../sass/base/_normalize.scss */
.slotMachine {
  height: 33px;
  margin-bottom: 10px;
}

/* line 75, ../sass/base/_normalize.scss */
#slot3 {
  margin-left: 152px;
  margin-top: -62px;
  height: 1.8em;
}

/* line 80, ../sass/base/_normalize.scss */
#slot3 .slot {
  display: block;
  padding-left: 20px;
  height: 1.8em;
  line-height: 1.8em;
}

/* line 86, ../sass/base/_normalize.scss */
#slotButton3 {
  cursor: pointer;
}

/* line 90, ../sass/base/_normalize.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 1, ../sass/base/_base.scss */
body {
  font-family: "文鼎黑體", Sans-serif;
  font-size: 22px;
  line-height: 1.7em;
  color: #333333;
}

/* line 10, ../sass/base/_base.scss */
a {
  color: #fff;
}

/* line 14, ../sass/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 18, ../sass/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 22, ../sass/base/_base.scss */
img.device {
  width: 100%;
}

/*BACKGROUND COLOUR***/
/* line 29, ../sass/base/_base.scss */
.primary_bg {
  background-color: #f16b29;
}

/*POSITIONS****/
/* line 35, ../sass/base/_base.scss */
.relative-position {
  position: relative;
}

/*FONTS****/
/* line 41, ../sass/base/_base.scss */
.en_para {
  font-family: "raleway";
}

/* line 44, ../sass/base/_base.scss */
.cn_para {
  font-family: "heisei-kaku-gothic-std";
}

/* line 48, ../sass/base/_base.scss */
.primary-text {
  color: #f16b29;
}

/* line 51, ../sass/base/_base.scss */
.white-text {
  color: #ffffff;
}

/**COLUMNS SETTINGS***/
/* line 58, ../sass/base/_base.scss */
.container {
  min-width: 100%;
}

/* line 61, ../sass/base/_base.scss */
.col-centered {
  float: none;
  margin: 0 auto;
  clear: both;
}

/****BUTTONS********/
/* line 69, ../sass/base/_base.scss */
.basic_btn {
  float: left;
  position: relative;
  margin-top: 20px;
  color: #fff;
  background-color: #fbaf5d;
  min-width: 300px;
  font-size: 18px;
  height: 60px;
  cursor: pointer;
  line-height: 60px;
  clear: both;
  display: inline-block;
  padding: 0 20px;
  border: 0;
  text-decoration: none !important;
  -webkit-box-shadow: 10px 10px 0px -5px #dd5d20;
  -moz-box-shadow: 10px 10px 0px -5px #dd5d20;
  -ms-box-shadow: 10px 10px 0px -5px #dd5d20;
  -o-box-shadow: 10px 10px 0px -5px #dd5d20;
  box-shadow: 10px 10px 0px -5px #dd5d20;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
/* line 96, ../sass/base/_mixins.scss */
.basic_btn:after {
  content: "";
  position: absolute;
  display: block;
  right: 20px;
  right: 12px;
  top: 12px;
  width: 36px;
  height: 36px;
  background: url(../img/arrow-right.png) no-repeat center center;
}
/* line 108, ../sass/base/_mixins.scss */
.basic_btn:hover {
  color: #fff;
  background-color: #555 !important;
  -webkit-box-shadow: 0px 0px 0px -5px #dd5d20;
  -moz-box-shadow: 0px 0px 0px -5px #dd5d20;
  -ms-box-shadow: 0px 0px 0px -5px #dd5d20;
  -o-box-shadow: 0px 0px 0px -5px #dd5d20;
  box-shadow: 0px 0px 0px -5px #dd5d20;
}

/* MODULES - Individual sit componets */
/* List */
/* line 4, ../sass/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 30px;
}

/* line 8, ../sass/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 14, ../sass/modules/_typography.scss */
.list-feature li {
  line-height: 2.2em;
  border-bottom: 1px solid #cccccc;
}
/* line 19, ../sass/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}

/* Blocks */
/* line 3, ../sass/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 7, ../sass/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

/* line 14, ../sass/modules/_blocks.scss */
.block-primary {
  background: #f16b29;
  color: #fff;
}

/* line 19, ../sass/modules/_blocks.scss */
.block-secondary {
  background: #fbaf5d;
  color: #fff;
}

/* line 24, ../sass/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666;
}

/* line 29, ../sass/modules/_blocks.scss */
.block-dark {
  background: #333333;
  color: #fff;
}

/* line 34, ../sass/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* Sections */
/* line 2, ../sass/modules/_sections.scss */
div.fp-section {
  padding: 10% 10% 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/****HOME******/
/* line 16, ../sass/modules/_sections.scss */
div#sec_home {
  background: url("../img/home_bg.jpg") no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

/* line 28, ../sass/modules/_sections.scss */
.sloganContainer {
  margin-top: 50px;
  max-width: 500px;
  overflow: hidden;
  color: white;
  height: 700px;
}
/* line 34, ../sass/modules/_sections.scss */
.sloganContainer h2 {
  font-size: 50px;
}
/* line 38, ../sass/modules/_sections.scss */
.sloganContainer .slotMachine {
  font-size: 40px;
  position: relative;
  display: block;
}
/* line 43, ../sass/modules/_sections.scss */
.sloganContainer span.machine-border {
  display: block;
  background: #fff;
  height: 1px;
  width: 250px;
  float: right;
  margin-right: 141px;
  margin-top: -6px;
}
/* line 53, ../sass/modules/_sections.scss */
.sloganContainer #slot3 {
  margin-left: 107px;
}
/* line 57, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 {
  margin-top: 40px;
  width: 170px;
  padding: 10px;
  display: block;
  font-size: 33px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
}
/* line 73, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span {
  position: absolute;
  right: 0;
  top: 0;
  height: 58px;
  width: 50px;
  text-indent: -9999px;
}
/* line 82, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span:before {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 30px;
  top: 8px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
/* line 97, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3 span:after {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 57px;
  top: 36px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 113, ../sass/modules/_sections.scss */
.sloganContainer h2#slotButton3:hover {
  margin-left: 15px;
}

/*ABOUT SECTIOIN***/
/* line 125, ../sass/modules/_sections.scss */
.top_animation {
  background: url(../img/clouds.png) no-repeat left;
  min-height: 430px;
}

/* line 129, ../sass/modules/_sections.scss */
.rocket {
  position: absolute;
  width: 278px;
  height: 221px;
  background: url(../img/rocket.png) no-repeat center center;
  left: -20%;
  top: 80%;
}

/* line 139, ../sass/modules/_sections.scss */
#sec_about p {
  padding-top: 250px;
  text-shadow: 2px 2px 10px rgba(242, 107, 42, 0.7);
}

/********** Jump Now Section ********/
/* line 148, ../sass/modules/_sections.scss */
div#sec_jumpnow {
  background: #f16b29;
}
/* line 151, ../sass/modules/_sections.scss */
div#sec_jumpnow p {
  font-size: 26px;
  line-height: 40px;
}

/* line 157, ../sass/modules/_sections.scss */
div.laptop-img {
  background: url(../img/laptop.png) no-repeat center;
  min-height: 320px;
}

/* line 163, ../sass/modules/_sections.scss */
ul.plan_list {
  padding: 30px 0 20px;
  counter-reset: my-badass-counter;
}
/* line 167, ../sass/modules/_sections.scss */
ul.plan_list li {
  font-size: 26px;
  line-height: 40px;
}
/* line 171, ../sass/modules/_sections.scss */
ul.plan_list li:before {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
  line-height: 28px;
  background-color: #fbaf5d;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
}

/*COMPETITION****/
/* line 194, ../sass/modules/_sections.scss */
ul.competition-headings {
  text-align: center;
  padding: 20px 0 30px;
}
/* line 198, ../sass/modules/_sections.scss */
ul.competition-headings li {
  display: inline-block;
  margin-right: 30px;
}
/* line 205, ../sass/modules/_sections.scss */
ul.competition-headings a {
  color: #f16b29;
}
/* line 208, ../sass/modules/_sections.scss */
ul.competition-headings a.selected {
  padding: 5px 15px;
  border: 1px solid #f16b29;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/**COMPETITION PARTNERS*******/
/* line 218, ../sass/modules/_sections.scss */
div.competition_topic a.basic_btn {
  margin-top: 5%;
  margin-left: 140px !important;
}

/* line 223, ../sass/modules/_sections.scss */
div.sponsors {
  position: absolute;
  bottom: 150px;
  left: 0;
}

/* line 230, ../sass/modules/_sections.scss */
ul.partners {
  padding: 0;
  text-align: center;
}
/* line 234, ../sass/modules/_sections.scss */
ul.partners li {
  background-color: #eee;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding: 10px;
  cursor: pointer;
  vertical-align: top;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 85% auto;
  -ms-background-size: 85% auto;
  -webkit-background-size: 85% auto;
  -o-background-size: 85% auto;
  -moz-background-blend-mode: multiply;
  -ms-background-blend-mode: overlay;
  -webkit-background-blend-mode: multiply;
  -o-background-blend-mode: multiply;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  opacity: 0.8;
}
/* line 269, ../sass/modules/_sections.scss */
ul.partners li a {
  color: #f16b29;
  display: block;
  text-indent: -9999px;
}
/* line 275, ../sass/modules/_sections.scss */
ul.partners li:first-child {
  background-image: url(../img/螞蜂窩_logo.png);
}
/* line 279, ../sass/modules/_sections.scss */
ul.partners li:nth-child(2) {
  background-image: url(../img/venture_craft_logo.png);
}
/* line 282, ../sass/modules/_sections.scss */
ul.partners li:nth-child(3) {
  background-image: url(../img/365_logo.png);
}
/* line 285, ../sass/modules/_sections.scss */
ul.partners li:nth-child(4) {
  background-image: url(../img/e27_logo.png);
}
/* line 288, ../sass/modules/_sections.scss */
ul.partners li:nth-child(5) {
  background-image: url(../img/citytours_logo.png);
}
/* line 291, ../sass/modules/_sections.scss */
ul.partners li:nth-child(6) {
  background-image: url(../img/ping_logo.png);
}
/* line 294, ../sass/modules/_sections.scss */
ul.partners li:nth-child(7) {
  background-image: url(../img/DSEE_logo.png);
}
/* line 297, ../sass/modules/_sections.scss */
ul.partners li:hover {
  -moz-background-blend-mode: normal;
  -ms-background-blend-mode: normal;
  -webkit-background-blend-mode: normal;
  -o-background-blend-mode: normal;
  background-blend-mode: normal;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: gray;
  filter: grayscale(0);
  opacity: 0.8;
  background-color: white;
}

/**COMPETITION DETAILS**/
/* line 318, ../sass/modules/_sections.scss */
.info_list ul {
  padding: 0;
}

/* line 323, ../sass/modules/_sections.scss */
div.timeline {
  margin-top: 30px;
}
/* line 325, ../sass/modules/_sections.scss */
div.timeline ul {
  position: relative;
  padding: 0 0 25px;
}
/* line 330, ../sass/modules/_sections.scss */
div.timeline ul:after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background: rgba(241, 107, 41, 0.58);
  position: absolute;
  bottom: 0px;
}
/* line 340, ../sass/modules/_sections.scss */
div.timeline ul li {
  display: inline-block;
  margin-right: 7%;
  line-height: 30px;
  min-width: 200px;
  position: relative;
  width: 200px;
  padding: 10px;
  background: #FFFFFF;
  bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: #ddd solid 1px;
  -webkit-box-shadow: 10px 10px 0px -5px gainsboro;
  -moz-box-shadow: 10px 10px 0px -5px gainsboro;
  -ms-box-shadow: 10px 10px 0px -5px gainsboro;
  -o-box-shadow: 10px 10px 0px -5px gainsboro;
  box-shadow: 10px 10px 0px -5px gainsboro;
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -moz-transition: all 0.25s;
}
/* line 365, ../sass/modules/_sections.scss */
div.timeline ul li:hover {
  position: relative;
  bottom: 15px;
  -webkit-box-shadow: 15px 15px 2px -3px rgba(220, 220, 220, 0.8);
  -moz-box-shadow: 15px 15px 2px -3px rgba(220, 220, 220, 0.8);
  -ms-box-shadow: 15px 15px 2px -3px rgba(220, 220, 220, 0.8);
  -o-box-shadow: 15px 15px 2px -3px rgba(220, 220, 220, 0.8);
  box-shadow: 15px 15px 2px -3px rgba(220, 220, 220, 0.8);
}
/* line 376, ../sass/modules/_sections.scss */
div.timeline ul li h4 {
  color: #f16b29;
  margin: 0;
}
/* line 381, ../sass/modules/_sections.scss */
div.timeline ul li p {
  font-size: 16px;
  margin: 0;
  color: #999;
}
/* line 387, ../sass/modules/_sections.scss */
div.timeline ul li span:first-of-type {
  font-size: 14px;
}
/* line 391, ../sass/modules/_sections.scss */
div.timeline ul li span:last-of-type {
  display: block;
  line-height: 30px;
}
/* line 396, ../sass/modules/_sections.scss */
div.timeline ul li:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 22px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -22px;
  left: 0px;
}
/* line 409, ../sass/modules/_sections.scss */
div.timeline ul li:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 22px 15px 0;
  border-color: #ddd transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -23px;
  left: 0px;
}
/* line 424, ../sass/modules/_sections.scss */
div.timeline ul li:last-child {
  margin-right: 0px;
}

/**JUMP******/
/* line 440, ../sass/modules/_sections.scss */
.jumpnow_part1 a.bizplan_download {
  float: left;
  position: relative;
  margin-top: 20px;
  background-color: #f68e56;
  min-width: 200px;
  font-size: 18px;
  height: 45px;
  cursor: pointer;
  line-height: 45px;
  clear: both;
  display: inline-block;
  padding: 0 20px;
  -webkit-box-shadow: 10px 10px 0px -5px #dd5d20;
  -moz-box-shadow: 10px 10px 0px -5px #dd5d20;
  -ms-box-shadow: 10px 10px 0px -5px #dd5d20;
  -o-box-shadow: 10px 10px 0px -5px #dd5d20;
  box-shadow: 10px 10px 0px -5px #dd5d20;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
/* line 465, ../sass/modules/_sections.scss */
.jumpnow_part1 a.bizplan_download:hover {
  color: #fff;
  background-color: #555 !important;
  -webkit-box-shadow: 0px 0px 0px -5px #dd5d20;
  -moz-box-shadow: 0px 0px 0px -5px #dd5d20;
  -ms-box-shadow: 0px 0px 0px -5px #dd5d20;
  -o-box-shadow: 0px 0px 0px -5px #dd5d20;
  box-shadow: 0px 0px 0px -5px #dd5d20;
}
/* line 475, ../sass/modules/_sections.scss */
.jumpnow_part1 a.bizplan_download:after {
  content: "";
  position: absolute;
  display: block;
  right: 6px;
  top: 4px;
  width: 36px;
  height: 36px;
  background: url(../img/download_btn.png) no-repeat center center;
}

/***FORMS*****/
/* line 493, ../sass/modules/_sections.scss */
.team_details_single > span {
  clear: none;
}

/* line 496, ../sass/modules/_sections.scss */
.team_member {
  width: 100px;
  clear: none !important;
}

/* line 500, ../sass/modules/_sections.scss */
.responsibility {
  width: 100px;
  clear: none !important;
}

/*****Event Section**********/
/* line 505, ../sass/modules/_sections.scss */
div#sec_events {
  position: relative;
}

/***CONTACT_US******/
/* line 510, ../sass/modules/_sections.scss */
div.contact_container {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 80%;
  background-color: #99FF99;
}
/* line 516, ../sass/modules/_sections.scss */
div.contact_container .contact_header {
  cursor: pointer;
}

/* Searchbox */
/*****PERSONAL DESTAILS********/
/* line 6, ../sass/modules/_forms.scss */
.personal_details_group span.input {
  display: block !important;
  margin: 0 auto !important;
  float: none !important;
  width: 100%;
}
/* line 13, ../sass/modules/_forms.scss */
.personal_details_group input[type=submit] {
  float: left;
  position: relative;
  margin-top: 20px;
  color: #fff;
  background-color: #fbaf5d;
  min-width: 300px;
  font-size: 18px;
  height: 60px;
  cursor: pointer;
  line-height: 60px;
  clear: both;
  display: inline-block;
  padding: 0 20px;
  border: 0;
  text-decoration: none !important;
  -webkit-box-shadow: 10px 10px 0px -5px #dd5d20;
  -moz-box-shadow: 10px 10px 0px -5px #dd5d20;
  -ms-box-shadow: 10px 10px 0px -5px #dd5d20;
  -o-box-shadow: 10px 10px 0px -5px #dd5d20;
  box-shadow: 10px 10px 0px -5px #dd5d20;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
/* line 96, ../sass/base/_mixins.scss */
.personal_details_group input[type=submit]:after {
  content: "";
  position: absolute;
  display: block;
  right: 20px;
  right: 12px;
  top: 12px;
  width: 36px;
  height: 36px;
  background: url(../img/arrow-right.png) no-repeat center center;
}
/* line 108, ../sass/base/_mixins.scss */
.personal_details_group input[type=submit]:hover {
  color: #fff;
  background-color: #555 !important;
  -webkit-box-shadow: 0px 0px 0px -5px #dd5d20;
  -moz-box-shadow: 0px 0px 0px -5px #dd5d20;
  -ms-box-shadow: 0px 0px 0px -5px #dd5d20;
  -o-box-shadow: 0px 0px 0px -5px #dd5d20;
  box-shadow: 0px 0px 0px -5px #dd5d20;
}
/* line 17, ../sass/modules/_forms.scss */
.personal_details_group .iagree {
  float: left;
  clear: both;
}

/***GROUP FORM*****/
/* line 27, ../sass/modules/_forms.scss */
div.slide.team_details input.input__field--hoshi, div.slide.personal_details input.input__field--hoshi {
  min-height: 50px;
  color: white;
  float: left;
}
/* line 32, ../sass/modules/_forms.scss */
div.slide.team_details span.input, div.slide.personal_details span.input {
  float: left;
  clear: both;
  margin: 0;
}
/* line 37, ../sass/modules/_forms.scss */
div.slide.team_details span, div.slide.personal_details span {
  font-size: 18px;
  padding: 0;
  color: white;
}
/* line 42, ../sass/modules/_forms.scss */
div.slide.team_details label, div.slide.personal_details label {
  font-size: 18px;
}
/* line 46, ../sass/modules/_forms.scss */
div.slide.team_details .input__field--hoshi, div.slide.personal_details .input__field--hoshi {
  margin: 0;
  padding: 15px 15px 15px 0;
}
/* line 50, ../sass/modules/_forms.scss */
div.slide.team_details .input__label--hoshi::before, div.slide.team_details .input__label--hoshi::after, div.slide.personal_details .input__label--hoshi::before, div.slide.personal_details .input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #fff;
}
/* line 60, ../sass/modules/_forms.scss */
div.slide.team_details input[type=file], div.slide.personal_details input[type=file] {
  padding: 23px 0 30px 101px;
}
/* line 65, ../sass/modules/_forms.scss */
div.slide.team_details textarea, div.slide.personal_details textarea {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  min-height: 300px;
}
/* line 73, ../sass/modules/_forms.scss */
div.slide.team_details span.team_member, div.slide.personal_details span.team_member {
  width: 20%;
  margin-right: 30px;
}
/* line 77, ../sass/modules/_forms.scss */
div.slide.team_details span.responsibility, div.slide.personal_details span.responsibility {
  width: 80%;
}
/* line 81, ../sass/modules/_forms.scss */
div.slide.team_details button#del_member, div.slide.personal_details button#del_member {
  margin: 15px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-indent: -9999px;
  position: relative;
}
/* line 90, ../sass/modules/_forms.scss */
div.slide.team_details button#del_member:after, div.slide.personal_details button#del_member:after {
  content: "";
  width: 22px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 5px;
  top: 50%;
}

/* line 103, ../sass/modules/_forms.scss */
#add_member {
  font-size: 18px;
  background: transparent;
  display: block;
  border: none;
  color: #fff;
}
/* line 110, ../sass/modules/_forms.scss */
#add_member:after {
  width: 35px;
  height: 35px;
  line-height: 35px;
  content: ' + ';
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}

/* line 121, ../sass/modules/_forms.scss */
.nav_group {
  position: absolute;
  right: 50px;
  bottom: 220px;
}

/* line 127, ../sass/modules/_forms.scss */
.next_btn, .prev_btn {
  font-size: 16px;
  float: left;
  margin-top: 40px;
  width: 87px;
  padding: 10px;
  display: block;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
}
/* line 144, ../sass/modules/_forms.scss */
.next_btn span, .prev_btn span {
  position: absolute;
  right: 0;
  top: 0;
  height: 58px;
  width: 50px;
  text-indent: -9999px;
}
/* line 153, ../sass/modules/_forms.scss */
.next_btn span:before, .prev_btn span:before {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 30px;
  top: 7px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
/* line 168, ../sass/modules/_forms.scss */
.next_btn span:after, .prev_btn span:after {
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: 0px;
  width: 41px;
  height: 40px;
  left: 58px;
  top: 37px;
  border-top: 1px solid #fff;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 184, ../sass/modules/_forms.scss */
.next_btn:hover, .prev_btn:hover {
  margin-left: 15px;
}

/* line 191, ../sass/modules/_forms.scss */
.prev_btn {
  border-left: none;
  border-right: 1px solid #fff;
}
/* line 195, ../sass/modules/_forms.scss */
.prev_btn span {
  left: 0;
}
/* line 198, ../sass/modules/_forms.scss */
.prev_btn span:before {
  left: -21px;
  top: 8px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* line 205, ../sass/modules/_forms.scss */
.prev_btn span:after {
  left: -48px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

/* line 2, ../sass/modules/_animations.scss */
.rocket_ani {
  -moz-animation: moveTo 10s 0s linear 1 forwards;
  -webkit-animation: moveTo 10s 0s linear 1 forwards;
  -ms-animation: moveTo 10s 0s linear 1 forwards;
  -o-animation: moveTo 10s 0s linear 1 forwards;
  animation: moveTo 10s 0s linear 1 forwards;
}

@keyframes moveTo {
  /* line 7, ../sass/modules/_animations.scss */
  0% {
    top: 80%;
    left: -20%;
  }

  /* line 8, ../sass/modules/_animations.scss */
  0.0001% {
    top: 79%;
    left: -20%;
  }

  /* line 9, ../sass/modules/_animations.scss */
  1% {
    top: 80%;
    left: -20%;
  }

  /* line 10, ../sass/modules/_animations.scss */
  2% {
    top: 79%;
    left: -20%;
  }

  /* line 11, ../sass/modules/_animations.scss */
  3% {
    top: 80%;
    left: -20%;
  }

  /* line 12, ../sass/modules/_animations.scss */
  4% {
    top: 79%;
    left: -20%;
  }

  /* line 13, ../sass/modules/_animations.scss */
  5% {
    top: 80%;
    left: -20%;
  }

  /* line 14, ../sass/modules/_animations.scss */
  6% {
    top: 79%;
    left: -20%;
  }

  /* line 15, ../sass/modules/_animations.scss */
  7% {
    top: 80%;
    left: -20%;
  }

  /* line 16, ../sass/modules/_animations.scss */
  8% {
    top: 79%;
    left: -20%;
  }

  /* line 17, ../sass/modules/_animations.scss */
  9% {
    top: 80%;
    left: -20%;
  }

  /* line 18, ../sass/modules/_animations.scss */
  10% {
    top: 79%;
    left: -20%;
  }

  /* line 19, ../sass/modules/_animations.scss */
  11% {
    top: 80%;
    left: -20%;
  }

  /* line 20, ../sass/modules/_animations.scss */
  20% {
    top: 10%;
    left: 30%;
  }

  /* line 21, ../sass/modules/_animations.scss */
  100% {
    top: 10%;
    left: 30%;
  }
}

/* LAYOUTS- Page Layout Styles */
/*NavBar*/
/* line 1, ../sass/layouts/_header.scss */
header {
  position: fixed !important;
  top: 0;
  left: 0;
  float: left;
  width: 100% !important;
  margin: 20px auto;
  padding: 0 10% !important;
}
/* line 9, ../sass/layouts/_header.scss */
header div {
  float: left;
  padding: 0 !important;
}
/* line 13, ../sass/layouts/_header.scss */
header a.navbar-brand {
  display: block;
  width: 220px;
  height: 50px;
  padding: 0;
  margin: 0;
  background: url(../img/jumpstart-logo.png) left no-repeat;
  text-indent: -9999px;
}
/* line 23, ../sass/layouts/_header.scss */
header a {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 29, ../sass/layouts/_header.scss */
div.main-menu {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 36, ../sass/layouts/_header.scss */
ul.menu {
  margin: 0;
  float: right;
  display: block;
}
/* line 40, ../sass/layouts/_header.scss */
ul.menu li {
  float: left;
  padding-right: 100px;
  margin: 13px 0px;
  text-transform: uppercase;
  text-align: right;
}
/* line 47, ../sass/layouts/_header.scss */
ul.menu li a {
  text-align: right;
  display: block;
  padding: 3px 10px;
  font-family: "raleway";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 56, ../sass/layouts/_header.scss */
ul.menu li a:hover {
  color: white;
}

/* line 63, ../sass/layouts/_header.scss */
.jumpnow_link a {
  background: rgba(242, 107, 42, 0.7);
}
