head
	meta(charset="UTF-8")
	title Document
body
	h1 BackEnd index
	
	h2 hello
	table
		tr
			th 隊伍名稱
			th 產品介紹
			th 隊員介紹
			th 聯絡人
			th 聯絡人電話
			th 聯絡人email
			th 計畫連結
	for i in results
		tr 
			th #{results[i].team_info.team_name}


