html
	include ./includes/head.jade

	body
			include ./includes/components/competition_menu.jade
		#fullpage			
			include ./includes/sections/home.jade
			include ./includes/sections/about.jade
			include ./includes/sections/competition.jade
			include ./includes/sections/jumpnow.jade
			include ./includes/sections/events.jade
			//- include ./includes/sections/tagboard.jade
			//- include ./includes/sections/gallery.jade

	//-classie.js is the function that runs the input effect
	script(type='text/javascript',src='../js/classie.js').
	script(src='../js/mobile.js')
	script(src="../js/index.js")
	script(src="../js/ga.js")
	

							



					




