html
	include ./includes/head_pepper.jade

	body
		.loading_mask
			.cssload-thecube
				.cssload-cube.cssload-c1
				.cssload-cube.cssload-c2
				.cssload-cube.cssload-c4
				.cssload-cube.cssload-c3
		include ./includes/components/competition_menu_pepper.jade
		#fullpage			

			include ./includes/sections/home_pepper.jade
			include ./includes/sections/about_pepper.jade
			include ./includes/sections/competition_pepper.jade
			include ./includes/sections/jumpnow_pepper.jade
			include ./includes/sections/events_pepper.jade
			//- include ./includes/sections/gallery_pepper.jade
			include ./includes/sections/tagboard_pepper.jade
			

	//-classie.js is the function that runs the input effect
	script(type='text/javascript',src='../js/classie.js').
	script(src="../js/index_pepper.js")
	script(src='../js/mobile_pepper.js')
	script(src="../js/ga.js")
	script(src='https://static.tagboard.com/public/js/embedAdvanced.js')
	

							



					




