header {
	position:fixed !important;
	top:0;
	left:0;
	float:left;
	width:100% !important;
	margin:20px auto;
	padding: 0 $standard-padding !important;
	div {
		float:left;
		padding:0 !important;
	}
	a.navbar-brand {
		display:block;
		width:220px;
		height:50px;
		padding:0;
		margin:0;
		background:url(../img/jumpstart-logo.png) left no-repeat;
		text-indent: -9999px;

	}
}

div.main-menu {
	float:right;
	position: absolute;
	top: 0;
	right: 0;
}

ul.menu {
	margin:0;
	float:right;
	display:block;
	li{
	float:left;
	padding-right:100px;
    margin: 13px 0px;
    text-transform: uppercase;
    text-align: right;
	
		a {
			text-align: right;
			display:block;
			padding:3px 10px;
			font-family:$english;
			font-weight: 600;
			letter-spacing: 1px;

			&:hover {
				color:$white;
			}
		}
	}
	
}
.jumpnow_link a{
		background:rgba(242,107,42,0.7);
	}
