
.rocket_ani{
	@include animation(moveTo 10s 0s linear 1 forwards);
}

@keyframes moveTo{
	0%{top: 80%;left: -20%;}
	0.0001%{top: 79%;left: -20%;}
	1%{top: 80%;left: -20%;}
	2%{top: 79%;left: -20%;}
	3%{top: 80%;left: -20%;}
	4%{top: 79%;left: -20%;}
	5%{top: 80%;left: -20%;}
	6%{top: 79%;left: -20%;}
	7%{top: 80%;left: -20%;}
	8%{top: 79%;left: -20%;}
	9%{top: 80%;left: -20%;}
	10%{top: 79%;left: -20%;}
	11%{top: 80%;left: -20%;}
	20%{top: 10%;left: 30%;}
	100%{top: 10%;left: 30%;}
} 


// for the rotate animation

.event_group{  
	perpective:300px;
	.event_single{ 
		.event_single_rotate{
			transform-style:preserve-3d;
			@include transition(all .5s ease-Out);
			& div{
				-webkit-backface-visibility:hidden;
				-ms-backface-visibility:hidden;
				-o-backface-visibility:hidden;
				backface-visibility:hidden;
			}
			& .front_face{
				background-color:rgba(0,0,0,.5);
			}
			& .back_face{
				@include transform(rotateY(180deg) translateZ(1px));
				background-color:rgba(255,0,0,.7);
			}
		}
		
		&:hover .event_single_rotate{
			 	@include transition(all .5s ease-In);
				@include transform(rotateY(180deg));
			
		}
	}
}
