
.rocket_ani{
	@include animation(moveTo 10s 0s linear 1 forwards);
}

@keyframes moveTo{
	0%{top: 80%;left: -20%;}
	0.0001%{top: 79%;left: -20%;}
	1%{top: 80%;left: -20%;}
	2%{top: 79%;left: -20%;}
	3%{top: 80%;left: -20%;}
	4%{top: 79%;left: -20%;}
	5%{top: 80%;left: -20%;}
	6%{top: 79%;left: -20%;}
	7%{top: 80%;left: -20%;}
	8%{top: 79%;left: -20%;}
	9%{top: 80%;left: -20%;}
	10%{top: 79%;left: -20%;}
	11%{top: 80%;left: -20%;}
	20%{top: 5%;left: 30%;}
	100%{top: 5%;left: 30%;}
} 


// for the rotate animation

.event_group{  
	perspective:1000px;
	.event_single{
		// outline:1px solid #f00; 
		.event_single_rotate{
			// -webkit-transform-style:preserve-3d;
			transform-style:preserve-3d;
			position: relative;
			height: 300px;
			@include transition(all .5s ease-Out);
			div{
				-webkit-backface-visibility:hidden;
				-ms-backface-visibility:hidden;
				-moz-backface-visibility:hidden;
				-o-backface-visibility:hidden;
				backface-visibility:hidden;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
			.front_face{
				background:#999 url(../img/stock.jpg) no-repeat;
				background-blend-mode: multiply;
				// background-color:rgba(0,0,0,.5);
				z-index:2;
			}
			.back_face{
				@include transform(rotateY(180deg));
				background:#999 url(../img/stock.jpg) no-repeat;
				background-blend-mode: multiply;
				// background-color:rgba(255,0,0,.7);
			}
		}
		
		&:nth-child(1):hover .event_single_rotate,
		&:nth-child(2):hover .event_single_rotate{
			 	@include transition(all .5s ease-In);
				@include transform(rotateY(180deg));
				// @include animation(rotate 5s 0s infinite linear);
				// @keyframes rotate{
				// 	0%{@include transform(rotateY(0deg));}
				// 	100%{@include transform(rotateY(360deg));}
				// }
		}
	}
}

.scrollDownAni{
	@include animation(shakeArrow 2s 0s infinite linear);
}

@keyframes shakeArrow{
	0%{@include transform(scale(1,1));}
	50%{@include transform(scale(1.3,1.3));}
	100%{@include transform(scale(1,1));}
}

div.timeLineAni:after{
	@include animation(lineDown 3s 0s 1 linear forwards);
	transition:all 1s;
}
@keyframes lineDown{
	0%{height: 0%;}
	100%{height: 100%;}
}

$borderPos:99%;
$borderBottom:50%;
$borderWidth:1%;
$speed:.3s;


div.straightAni{
	& .border{
	    background-color:#000;
	    position: absolute;
	    left: 0;
	    top: 0;
	  }
	& .border.top{
	    width: $borderPos;
	    height: $borderWidth;
	    left: 50%;
	    @include animation(borderTopAni $speed 0s 1 linear forwards);
	}
	& .border.bottom{
	    width: 100%;
	    height: $borderWidth;
	    top: $borderPos;
	  	&.b_right{
		    width: 0%;
		    left: 100%;
		    @include animation(borderB_right $speed $speed*3 1 linear forwards);
	    }
	    &.b_left{
		    width: 0%;
		    left: 0;
		    @include animation(borderB_left $speed $speed*3 1 linear forwards);
	    }
	}
	  
	& .border.left,.border.right{
	    width:$borderWidth;
	    height: 0;
	    @include animation(borderSidesAni $speed*2 $speed 1 linear forwards);
	}
	  
	& .border.right{
	    left: $borderPos;
	}
}
@keyframes borderTopAni{
  0%{left:50%;width:0;}
  100%{left:0;width:$borderPos;}
}

@keyframes borderSidesAni{
  0%{height: 0;}
  100%{height: $borderPos;}
}

@keyframes borderB_left{
  0%{width: 0;left: 0;}
  100%{width: $borderBottom;left: 0;}
  
}
@keyframes borderB_right{
  0%{width: 0;left: 100%;}
  100%{width: $borderBottom;}
}
