/* Searchbox */

div.slide.team_details, div.slide.personal_details {
	input.input__field--hoshi{
		min-height:50px;
		color:$white;
		float:left;
	}
	span.input {
		float:left;
		clear:both;
		margin:0;
	}
	span {
		font-size:18px;
		padding:0;
		color:$white;
	}
	label {
		font-size:18px;
	}

	.input__field--hoshi {
		margin:0;
		padding:15px 15px 15px 0 ;
	}
	.input__label--hoshi::before, .input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #fff;
	}

	input[type=file] {
	padding:23px 0 30px 101px;

	}

	textarea {
		background:transparent;
		color:#fff;
		border:1px solid #fff;
		width:100%;
		min-height: 300px;
			}
}

