/* Searchbox */

/*****PERSONAL DESTAILS********/

.personal_details_group {

	@include orange-border;
	padding:30px;
	span.input {
		display: block !important;
		margin:0 auto !important;
		float:none !important;
		width:100%;
	}

	input[type=submit] {
		@include button;
		margin-left:100px;
	}

	.iagree {
		float:left;
		clear:both;
	}
	
}

/***GROUP FORM*****/

div.slide.team_details, div.slide.personal_details {
	input.input__field--hoshi{
		min-height:50px;
		color:$white;
		float:left;
		max-width: none;
		margin-top:10px;
		padding-left:3px;
		font-size:18px;
		font-weight: normal;
	}
	span.input {
		float:left;
		clear:both;
		margin:0;

		max-width: initial;
	}
	span {
		font-size:14px;
		padding:0;
		color:$white;
	}
	label {
		font-size:14px;
	}

	.input__field--hoshi {
		margin:0;
		padding:15px 15px 15px 0 ;
		
	}
	.input__label--hoshi::before, .input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #fff;
	}

	input[type=file] {
	padding:23px 0 30px 101px;

	}

	textarea {
		background:transparent;
		color:#fff;
		border:1px solid #fff;
		width:100%;
		min-height: 300px;
			}

	span.team_member {
		width: 20%;
    margin-right: 30px;
	}
	span.responsibility {
		width: 65%
	}

	button#del_member {
		float:right;
		margin:15px;
		width:35px;
		height:35px;
		background:transparent;
		border:1px solid #fff;
		@include border-radius(50%);
		text-indent: -9999px;
		position:relative;
		
		&:after {
			content:"-";
			width:10px;
			height:2px;
			background:#fff;
			margin:0 auto;
			position:absolute;
			left:11px;
			top:47%;
		}

		&:hover{
			background:#fff;

			&:after {
				background:$primary-color;
			}
		}
	
	}
	button:focus {
		outline:none;
	}
}

#add_member {
	margin-right: 9px;
	font-size:18px;
	background:transparent;
	display:block;
	border:none;
	color:#fff;
	float:right;
		&:after {
			margin-left:5px;
			width:35px;
			height:35px;
			line-height: 30px;
			text-align: center;
			content:' + ';
			border:1px solid #fff;
			@include border-radius(50%);
			display: inline-block;
		}
	&:hover {
		&:after {
			background:#fff;
			color:$primary-color !important;
		}
	}
}

.nav_group {
	position: absolute;
    right: 50px;
    bottom: -28px;
	
}
.next_btn {
	font-size:16px;
	float:left;
	margin-top:40px;
	width:87px;
	padding:10px;
	display: block;
	background:$navy;
	border-top:1px solid $primary-color;
	border-left:1px solid $primary-color;
	border-bottom:1px solid $primary-color;
	position:relative;
	transition: all 0.5s ;
	-ms-transition: all 0.25s ;
	-o-transition: all 0.25s ;
	-webkit-transition: all 0.25s ;
	-moz-transition: all 0.25s ;
	
	&:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  &:before {
    

    /* If 1px darken stroke slightly */
   right: -33px;
    top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 0 29px 33px
    ;
border-color: transparent transparent transparent $primary-color;

  }

  /* Fill */
  &:after {

	right: -31px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 28px 0 28px 31px ;
    border-color: transparent transparent transparent $navy;

  
  
  }

	&:hover {
		margin-left:15px;

	}

}

.prev_btn {
	@extend .next_btn;
	border-left:none;
	border-right:1px solid $primary-color;
	

		&:before {
		left: -33px;
    	top: -1px;
    	 border-width: 29px 33px 29px 0;
		border-color: transparent $primary-color transparent transparent;
		}
		&:after {
		left: -31px;
    	top: 0;
    	border-width: 28px 31px 28px 0;
    	border-color: transparent $navy transparent transparent;
		
		}
	
	
}


