

//########## TABLET LANDSCAPE ########################//

@media screen 
and (max-width:1024px) 
and (min-width:991px) {

	.event_group {
		.event_single {
			.event_single_rotate div {
				height: 25vw;
			}
		}
	}
	




//########### JUMPNOW SECTION #####################//	

	#sec_jumpnow {
		
		.slide {
			margin-top:30px;
		}
	}



	div.timeline ul li p {
		font-size:11px;
	}

	div.slide.team_details span, div.slide.personal_details {
	
		.file-upload-button {
			padding-left:10px;
			padding-right:10px;
			font-size:12px;
		}

		span.file-upload-input {
			padding-left:10px;
			padding-right:10px;
			font-size:10px;
		}
	





}//########### JUMPNOW SECTION ENDS#####################//	

//########### FORMS ######################/	

div.slide.team_details  {

		span.responsibility {
			width:57% !important;
		}
		
	}

	.next_btn, .prev_btn {
		height:50px;
	}
//########### FORMS ENDS######################/	

//########### EVENT SECTION ############################//

.event_tw_comingsoon {
	h3 {
		font-size: 24px;

	}
}



} //###### TABLET LANDSCAPE ENDS ###################//




/********************* TABLET PORTRAIT******************/

@media screen and (max-width: 990px) {
	/********ABOUT*******/
	div#sec_about::after{
		height: 100%;
	}
	
	/****HEADER******/
	.header {
		margin:0 auto;
		padding: 0 0 !important;
	}

	header {
	
		margin:0;
	}
	.navbar-brand {
		margin:0 !important;
		line-height: 50px;
		position:relative;
		z-index: 5;
	}


	
//########### COMPETITION ####################//

	.competition-headings li{
		vertical-align: middle;
		width: 25%;

	    a {
	    	text-align: center;
	    	padding:10px;
	    	letter-spacing: 4px;
	    	line-height: 20px;
	    }
	}

//############### MOBILE MENU #####################//

	.menu-mobile {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align:center;
  border-radius: 100%;
  right:25px;
  top:12px;
}
.menu-bg {
 
}
.menu-burger {
	z-index:5;
  @extend .menu-mobile;
  color: white;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
  &.fs {
  	z-index:5;
   }
}
.menu-items-mobile{
  
  font-weight: bold;
  font-size: 40px;
  letter-spacing:10px;
  color: white;
  text-align: center;
  opacity:0;
  transition: .4s;
  margin-top:100px;
  width:100%;
  height:100%;
  position:fixed;
  top:50px;
  left:0;  
  pointer-events:none;

  ul {
  	padding:17vh 0 0 0;
  }


  li {
  	text-align: center;
    transition: 1s;
    opacity: 0;
    margin-top: 0px;
    display: block;
    width: 100%;
    padding: 0px 0px 15vh 0px;

    &.jumpnow_link a {
    	paddding:0 !important;
    }

    a {

    	font-size:30px !important;
    	font-weight:bold !important;
    }
  }


  &.fs {
    pointer-events:auto;

    opacity: 1;
 	z-index: 2;
  width:100%;
  height:100%;
      background: $navy;
    width: 100%;
    margin-top:0;
    left: 0px;
    top: 0px;
  position:fixed;
    li{
      opacity: 1;
      padding: 0px 0px 15vh 0px;

    
    }
  }
}

ul.menu {
	min-width: initial;
    float: none;
	li {
	
	text-align:center;
	margin:0 !important;
	}
}



.menu-items-mobile {

	li {
		width:100%;
		display:block;
		padding-left:30px;
		text-align: center;


		a {
			padding:0;
			margin:0;
		}
	}




	}
	

//######## COMPETITION ############//



//######## SPONSOR ###############//

div.sponsor-group ul.sponsor-list.second li {
	with:32% !important;
}
//######### SPONSOR ENDS ###########//


//########### EVENT ####################/


.contact_container {
	span.input {
		max-width: initial;
	}
}

.contact_header span{
	display:none;
}




/*************DISABLE THE ANIMATION*************/
.rocket{
	display:none;
}
#sec_home:after{
	height: 55%;
	top: 30%;
}
#sec_home.timeLineAni:after{
	@include animation(none);
	height: 80%;
}
#sec_about{
	padding-bottom:$mob-sec-pad;

	& .border{
		background-color:$primary-color;
	}
	.border_container{
		margin:$mob-sec-pad 0 0;
	}

	& .border.top{
		@include animation(none);
		left: 0;
		top: 0;
		height: 1px;
		width: 100%;
	}
	& .border.bottom{
		&.b_right{
			display: none;
		}
		&.b_left{
			left: 0;
			top: 100%;	
			@include animation(none);
			width: 100%;
			height: 1px;
		}
	}
	& .border.left,& .border.right{
		@include animation(none);
		height: 100%;
		width: 1px;
		left: 0;
		top: 0;	
	}
	& .border.right{
		left: 100%;
	}
}	
div.timeLineAni::after{
	@include animation(none);
	height: 100%;
}
#sec_about p{
	opacity:1;
}
.top_animation {
	min-height:auto;
	padding-top:0;
}



div.section#sec_competition{
	&.border_container{
		& .straight_line{
			height: $straightHeight;
			@include animation(none);
		}
		& .straight_line_down{
			height: $straightHeight;
			@include animation(none);
			
		}
		& .horizon_line{
			@include animation(none);
			display:none;
		}
		& .horizon_line_left{
			@include animation(none);	
			display:none;
		}


	}
	& .border_container{
		border:1px $primary-color solid;
		min-height:380px;
		& .border{
			display:none;
		}
		& .straight_line{
			height: $straightHeight;
			@include animation(none);
		}
		& .horizon_line{
			@include animation(none);
			display:none;
		}
	}

	& .border.top,.border.bottom{
		@include animation(none);
		width: $borderPos;
	}
	& .border.left{
		@include animation(none);
		top:0;
		height:$borderPos;
		max-width:$maxWidth;
	}
	& .border.right.R_top{
		@include animation(none);
		height: 100%;
		top: 0;
		max-width:$maxWidth;
	}
	& .border.right.R_bottom{
		@include animation(none);
		display: none;
	}

} //end of teh #sec_competition
#competition_topic_slide{
	&.slide.competition_topic .slide-inner{
		// z-index: -1;
	}
}


div.section#sec_jumpnow {
	& .jumpnow_part1{
		& .jumpnow-des{
			& .border_container{
				border:1px solid $primary-color;
				& .border{
					display: none;
					@include animation(none);
				}
			}
		}

	}

	.jumpnow-btn-set {
		margin-top:$mob-sec-pad;
	}

	& .team_details{
		& .slide-inner{
			& .border_container{
				border:1px solid $primary-color;
			}
			& .border_container.borderRightAni{
				border:1px solid $primary-color;
				& .border{
					display:none;
					@include animation(none);
				}
			}
		}
	}
	& .personal_details{
		& .slide-inner{
			& .border_container{
				border:1px solid $primary-color;
			}
			& .border_container.borderRightAni{
				border:1px solid $primary-color;
				& .border{
					display:none;
					@include animation(none);
				}
			}
		}
	}

}








}

/******ADDED BY WALTER TO SHOW THE .nav_group********/


/****************FOR THE STRAIGHT LINE IN THE #HOME SECTION ADDED BY WALTER******/

@media screen 
and (max-width:990px) 
and (min-width:768px){

	#sec_home::after{
		top: 48%;
	}

	
}

/******************MOBILE************************/
// Randy ipad
@media screen and (max-width: 768px)
and (orientation : portrait) {
	
	body {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: initial;
	}
	

	.no-pad-m  {
		padding:0 !important;
	}

	.section {
		height:auto !important;
		padding-bottom:30px !important;
	}

	header#header {
		background:$navy ;
		height:50px;
		padding:10px 30px !important ;
		margin:0;

	
	
	a.navbar-brand {
		font-size:28px ;
		width:initial;
		height:initial;
		margin:15px 0;
		line-height: 30px;
		
		}
		
	}


	div.section-padding{
		padding:0;
	}
	#sec_about .border_container {
		padding:3%;
	}

	a.btn {
		width:100%;
		max-width: 340px;
		
    	display: block;
    	margin-left:auto;
    	margin-right:auto;
	
	}
	a.bizplan_download {
		

	}
	a.imready {
		float:none;
	}


	.sloganContainer {

	    min-height: 600px;
	    height: initial;
	}

	.fp-slidesContainer {
	    margin-top: 0;
	}
		.slide-inner {
			width:97%;
		}

	#sec_about p{
		font-size: 20px;
    	line-height: 1.7em;
	}

	.info_list ul li{
		width:100%;
		float:left;
		margin-bottom:10px;
		.fa {
			height:10%;
		}
	}
	div.timeline {
		ul {
			li {
				width:100%;
				padding:20px;
				&:hover {
					margin:0 !important;
				}

				&:before {

					  display: none;
				} 
				&:after {

			        display:none;


				} 
			}
		}
	}
	div.competition_topic {
		h4 {
			font-size:41px;
			padding:15px 0;
		}
		h5 {
			padding-top:15px;
		}
	}
	#competition_prize_slide  {

		.prize-single {

			min-height: 120px !important;
			h4 {
				margin-top:20px;
			}

		&:first-of-type {
		@include background-size(50% auto);
			h4{
				font-size:34px;
				color:#2b4252;
			}
	 	}
	 	&:nth-of-type(2) {
		@include background-size(50% auto);
			color:$navy;
		
	 	}
	 	&:nth-of-type(3) {
	
		@include background-size(50% auto);
		
	 	

			}



		}

	}
	#competition_prize_slide .first-place h4 {
		font-size:28px !important;
	}
	div.competition_topic  {
		h4 {
			text-align: left;
		}
	}

	/***Mobile Height control***/
	.fp-slides, .fp-slidesContainer,.border_container  {
		height: auto !important;
	}



/****COMPETITION*********/



div.competition_topic .btn {
	margin-top:30px;
   
   }
div.timeline {
   position:initial;
   margin:0;
}

/**SPONSORSS*****/
div.sponsor-group li span {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -12vw;
    width: 100vw;
}

ul.sponsor-list li {

	&:hover span{
		// display:none;  By Walter
	}

	


	

}

div.sponsor-group ul.sponsor-list.second li {
	width:100%;
	margin:0 2% 2% 0;
	position:relative;

			}


div.nav_group {
	right: 26%;
}

.team_details .slider-inner {
	 padding-bottom:$mob-sec-pad;
}

.slide.team_details, div.slide.personal_details{
	.team_detail_single {
		border:1px solid $primary-color;
		margin-top:10px;
		padding:10px;
		position: relative;
	}

	span.team_member {
	width:100% !important;

	}
	span.responsibility {
	width:100% !important;

	}

}

.file-upload-button {
	padding:15px 0;
}
div.slide.team_details{

	span.input {
		width:100%;
	}

	button#del_member {
 
	    position: absolute !important;
	    background:$navy;
	    right: -15px;
	    top: -3px;
	}
	#add_member {
    margin:0;
	}
}

#reg_btn {
	margin:$mob-sec-pad auto 0;
	position:initial;

}


/***CONTACT******/

div.contact_container {
	// position:initial;
	span.input {
		width:100%;
	}
}


/*************DISABLE THE ANIMATION*************/
.rocket{
	display:none;
}
#sec_home:after{
	height: 80%;
	top: 60%;
}
.sg #sec_home::after{
	top: 70%;
}
#sec_home.timeLineAni:after{
	@include animation(none);
	height: 80%;
}
#sec_about{
	padding-bottom:$mob-sec-pad;

	& .border{
		background-color:$primary-color;
	}
	.border_container{
		margin:$mob-sec-pad 0 0;
	}

	& .border.top{
		@include animation(none);
		left: 0;
		top: 0;
		height: 1px;
		width: 100%;
	}
	& .border.bottom{
		&.b_right{
			display: none;
		}
		&.b_left{
			left: 0;
			top: 100%;	
			@include animation(none);
			width: 100%;
			height: 1px;
		}
	}
	& .border.left,& .border.right{
		@include animation(none);
		height: 100%;
		width: 1px;
		left: 0;
		top: 0;	
	}
	& .border.right{
		left: 100%;
	}
}	
div.timeLineAni::after{
	@include animation(none);
	height: 100%;
}
#sec_about p{
	opacity:1;
}
.top_animation {
	min-height:auto;
	padding-top:0;
}



div.section#sec_competition{
	&.border_container{
		& .straight_line{
			height: $straightHeight;
			@include animation(none);
		}
		& .straight_line_down{
			height: $straightHeight;
			@include animation(none);
			
		}
		& .horizon_line{
			@include animation(none);
			display:none;
		}
		& .horizon_line_left{
			@include animation(none);	
			display:none;
		}


	}
	& .border_container{
		border:1px $primary-color solid;
		min-height:380px;
		& .border{
			display:none;
		}
		& .straight_line{
			height: $straightHeight;
			@include animation(none);
		}
		& .horizon_line{
			@include animation(none);
			display:none;
		}
	}

	& .border.top,.border.bottom{
		@include animation(none);
		width: $borderPos;
	}
	& .border.left{
		@include animation(none);
		top:0;
		height:$borderPos;
		max-width:$maxWidth;
	}
	& .border.right.R_top{
		@include animation(none);
		height: 100%;
		top: 0;
		max-width:$maxWidth;
	}
	& .border.right.R_bottom{
		@include animation(none);
		display: none;
	}

} //end of teh #sec_competition
#competition_topic_slide{
	&.slide.competition_topic .slide-inner{
		z-index: -1;
	}
}


div.section#sec_jumpnow {
	& .jumpnow_part1{
		& .jumpnow-des{
			& .border_container{
				border:1px solid $primary-color;
				& .border{
					display: none;
					@include animation(none);
				}
			}
		}

	}

	.jumpnow-btn-set {
		margin-top:$mob-sec-pad;
	}

	& .team_details{
		& .slide-inner{
			& .border_container{
				border:1px solid $primary-color;
			}
			& .border_container.borderRightAni{
				border:1px solid $primary-color;
				& .border{
					display:none;
					@include animation(none);
				}
			}
		}
	}
	& .personal_details{
		& .slide-inner{
			& .border_container{
				border:1px solid $primary-color;
			}
			& .border_container.borderRightAni{
				border:1px solid $primary-color;
				& .border{
					display:none;
					@include animation(none);
				}
			}
		}
	}

}




	//****************FOR COMPETITION MENU*********//

	#competition_mobile_menu_container{
		display:block;
		position: absolute;
		z-index:2;
		background:$gray;
		 width: 100%;
		ul.competition-headings{
		padding:0;
		margin:0;
		border-bottom: 1px solid $primary-color;

		  a {

		  	padding-top:20px;
		  	height:100%;
		  	display: block;
		  	min-height: 60px;
		  }
		}
	}
	#competition_menu{
		display:none;
	}

	#competition_mobile_menu_container.fixed{
		position: fixed;
		z-index: 2;
		width:100%;
		top:50px;
		background:$gray;
		ul.competition-headings{
		padding:0;
		margin:0;
		}

	}

	#sec_competition {
		.fp-slide {
			padding-top:60px;
		}
	}

	.info_list ul li {
		padding-left:0;
	}
	div.timeline ul{
		li {
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			-o-box-shadow:none;
			-ms-box-shadow:none;
			box-shadow:none;
			margin-bottom:5px;
			position:static;
			bottom:0;

			&:hover {
				margin:initial;
				-webkit-box-shadow:none;
				-moz-box-shadow:none;
				-o-box-shadow:none;
				-ms-box-shadow:none;
				box-shadow:none;
				position:static;
				bottom:0;
			}
		}
	}

	//################ JUMPNOW #######################//

	.jumpnow-des {
		h3 {
			text-align: center ;
		}
	}
	.jumpnow-btn-set {
		margin-top:0;
	}
	ul.plan_list li{
		text-align:left;
	}
	.jumpnow_part1 a.bizplan_download {
		margin:0 auto 15px;
		display:block;
		float:none;
	}

	//############# Event #########################//
	div#sec_events {
		padding-top:$mob-sec-pad;
	}
	//EVENT BOX
	.event_group {
		.event_single {
			.event_single_rotate div {
				height: 20vh;
			}
		}

		.event_tw_comingsoon,.event_tw_comingsoon {
			h3 {
				margin-top:5vh;
			}
		}
	}

	//######## CONTACT #####################//
	div.contact_container h2 {
		width:auto;
	}


}//end of the <768 @media


@media screen and (max-width:768px) 
and (min-width:489px) {

 div.sponsor-group {
	ul.sponsor-list {
		li {
			width:48% !important;
			float:left;
		}
	}

	}


	#competition_mobile_menu_container{
		
		ul.competition-headings{
		

		  a {
		  	line-height: 37px;
		  }
		}
	}
} // 768px - 489 px ends
@media screen and (max-width:400px)  {
 #competition_mobile_menu_container ul.competition-headings a {
 	font-size:13px;
 }
}




/******ADD BY WALTER TO SHOW THE .nav_group********/
@media screen 
and (max-width:768px){

	.team_details, .personal_details {
		.slide-inner {
			margin:0 auto 50px;
		}

		.nav_group {
			bottom:-107px;
		}
	}
	
}

@media screen 
and (max-width:768px) 
and (min-width:481px){

	//JUMPNOW LIST
	ul.plan_list {
		max-width: 40%;
		min-width: 270px;
    	margin: 0 auto;

    	li {
    		text-align: left;
    	}
	}

	div.slide.team_details{ 
		padding:2.2% 0% 2.2% 0%;
	}
	div.nav_group{
		bottom:-42px;
	}
}

@media screen 
and (max-width:480px){

	//JUMPNOW LIST
	ul.plan_list {
		
		width:auto;

    	li {
    		text-align: left;
    	}
	}
	
	div.slide.team_details{
		padding:2.2% 0% 90px 0%;
	}
	div.nav_group{
		bottom: -37px;
	}

	//EVENT BOX
	.event_group {
		.event_single {
			margin-bottom:30px;
			min-height: 40vh;
			.event_single_rotate {
				height:auto;
				div {
					height: 40vh;
				}
			}
		}

		.event_tw_comingsoon,.event_tw_comingsoon {
			h3 {
				margin-top:12vh;
			}
		}
		
	}


}

/****************    IPHONE 5, 6, 6+    ****************/

//Randy 04032016 for i6+ portrait
@media only screen 
and (max-width : 414px) 
and (orientation : portrait) { 
	//SG
	body.sg {
		letter-spacing:initial;
		font-size: 16px;
	    line-height: 24px;
				


		//########### SG Home BG Start ###########//
		.sg_bg {
			// @extend .sec_home_bg;
			// background:#000 url('../img/home_bg_sg_2.jpg') no-repeat center;
			background: url('../img/home_bg_sg_5.jpg') no-repeat center;
			background-blend-mode: multiply;
			background-size:cover;
			-moz-background-size:cover;
			-ms-background-size:cover;
			-o-background-size:cover;
			-webkit-background-size:cover;
			position: relative;
			
		}
		//########### SG Home BG End ###########//

		//########### SG Home Slogan Start ###########//
		.sloganContainer_sg_bg{
			
			text-indent:initial;
			background-image:none;
			max-width:480px;
			margin-top:58px;


			h2 {

				font-size:40px;//RK
				font-weight: 800;
				line-height: 1.2em;
				letter-spacing: 3px;
				text-align:center;

				span {
					font-size: 27px;//RK
					letter-spacing: 3px;
					line-height: 1.2em;
				}
			}

			.slotMachine {
				border:1px solid #fff;
				margin: 14px 0 30px !important;
				height: 68px;
			}
			.slot {
				font-family: 'raleway', sen-serif;
				font-weight: 700;
				font-size: 25px;
			}

			 #slotButton3 {
			 	float:none;
			 	display: block;
			 	margin:0px auto;
			 }

		}
		//########### SG Home Slogan End ###########//

		#sec_about p{
			font-size:22px;
			line-height: 30px;
		}

		//########### Competition ##############//
		div#sec_competition:after{
			height: 100%;
			top: 0;
		}

		ul.competition-headings a {
			letter-spacing:2px;
			font-weight:600;

		}

		div.competition_topic {
			font-size: 14px;
			h4 {
				font-size:45px;
				padding:15px 0;

				span{
					font-size: 40px;
				}
			}
			h5{
				font-size: 30px;
			}
			p{
				    font-size: 14px;
				    line-height: 22px;
				    letter-spacing: initial;
			}
			ul{
				li{
					font-size: 18px;
					line-height: 28px;
				}
			}
		}


		//###### Jumpnow home ###########//
		.jumpnow-des {
			h3{
				font-family:'fatfrank', sen-serif;
				letter-spacing:1px;
				font-size: 27px;//RK
				span {
					font-family:'fatfrank', sen-serif;
				}
			}
			ul{
				li{
					font-size: 15px;
					line-height: 35px;
				}
			}
		}

		

		//###### EVENT SINGLE ###########//
		.event_single {

			 .front_face {
			 	background-color: #333 ;
			 		text-shadow:0px 0px  20px black;
			 	
			 }

			 .back_face {
			 	p {
			 		padding:50px 0;
			 	}
			 }
			    
			}

		//######## SG Btns #################//
		.btn {
			letter-spacing:2px;
			}
		}
	//SG END
	div.competition_topic {
		font-size: 17px;
		h4 {
			font-size:45px;
			padding:15px 0;

			span{
				font-size: 35px;
			}
		}
		h5{
			font-size: 26px;
		}
		p{
			    font-size: 17px;
			    line-height: 22px;
			    letter-spacing: initial;
		}
		ul{
			li{
				font-size: 17px;
			}
		}
	}
	#competition_prize_slide  {

		.prize-single {

			min-height: 140px !important;
			h4 {
				margin-top:20px;
			}

		&:first-of-type {
		@include background-size(50% auto);
			h4{
				font-size:34px;
				color:#2b4252;
			}
	 	}
	 	&:nth-of-type(2) {
		@include background-size(50% auto);
			color:$navy;
		
	 	}
	 	&:nth-of-type(3) {
	
		@include background-size(50% auto);
		
	 	

			}



		}

	}
	#sec_about p{
		font-size:20px;
		line-height: 30px;
	}
 }

//Randy 04032016 for i6+ landscape
@media only screen 
and (max-width : 736px) 
and (orientation : landscape) { 

	//************SG #home middle line ********//
	#sec_home:after{
		top:55%;	
	}

	div.competition_topic {
		font-size: 15px;
		h4 {
			font-size:35px;
			padding:15px 0;
			text-align: left;

			span{
				font-size: 30px;
			}
		}
		h5{
			font-size: 19px;
		}
		p{
			    font-size: 15px;
			    line-height: 22px;
			    letter-spacing: initial;
		}
		ul{
			li{
				font-size: 15px;
			}
		}
	}
	#competition_prize_slide  {

		.prize-single {
			margin: 5px auto 0;
			min-height: 290px !important;
			h4 {
				margin-top:20px;
			}

		&:first-of-type {
		@include background-size(50% auto);
			h4{
				font-size:34px;
				color:#2b4252;
			}
	 	}
	 	&:nth-of-type(2) {
		@include background-size(50% auto);
			color:$navy;
		
	 	}
	 	&:nth-of-type(3) {
	
		@include background-size(50% auto);
		
	 	

			}



		}

	}
	#sec_about p{
		font-size:20px;
		line-height: 30px;
	}
	#sec_about:after{
		top: 0;
	}

	#sec_competition:after{
		height: 100%;
		top: 0;
	}
}


//Randy 04032016 for i6 portrait
@media screen and (max-width:375px)
and (orientation : portrait){
	
	.sg div#sec_home::after{
		top: 60%;
	}


	//########### Competition ##############//
	div#sec_competition:after{
		height: 100%;
		top: 0;
	}



	div.slide.team_details{
		padding:2.2% 0% 5% 0%;
	}
	div.nav_group{
		bottom: -37px;
	}
	//Randy 04032016

	div.competition_topic {
		font-size: 15px;
		h4 {
			font-size:35px;
			padding:15px 0;

			span{
				font-size: 30px;
			}
		}
		h5{
			font-size: 19px;
		}
		p{
			    font-size: 15px;
			    line-height: 22px;
			    letter-spacing: initial;
		}
		ul{
			li{
				font-size: 15px;
			}
		}
	}
	#competition_prize_slide  {

		.prize-single {

			min-height: 125px !important;
			h4 {
				margin-top:20px;
			}

		&:first-of-type {
		@include background-size(50% auto);
			h4{
				font-size:34px;
				color:#2b4252;
			}
	 	}
	 	&:nth-of-type(2) {
		@include background-size(50% auto);
			color:$navy;
		
	 	}
	 	&:nth-of-type(3) {
	
		@include background-size(50% auto);
		
	 	

			}



		}

	}
	.sloganContainer {
		background-size: 80% auto;
	}


}

//Randy 04032016 for i6 landscape
@media only screen 
and (max-width : 667px) 
and (orientation : landscape) {


/* STYLES GO HERE */


//************SG #home middle line ********//
	#sec_home:after{
		top:55%;	
	}

#competition_prize_slide  {

	.prize-single {

		min-height: 260px !important;
		h4 {
			margin-top:20px;
		}

	&:first-of-type {
	@include background-size(50% auto);
		h4{
			font-size:34px;
			color:#2b4252;
		}
 	}
 	&:nth-of-type(2) {
	@include background-size(50% auto);
		color:$navy;
	
 	}
 	&:nth-of-type(3) {

	@include background-size(50% auto);
	
 	

		}



	}

	}

}


//Randy 04032016 for i5 portrait
@media only screen 
and (min-width : 320px) 
and (orientation : portrait) { /* STYLES GO HERE */ 
	
	//SG
	body.sg {
		letter-spacing:initial;
		font-size: 16px;
	    line-height: 24px;

		//########### SG Home Slogan Start ###########//
		.sloganContainer_sg_bg{
			
			text-indent:initial;
			background-image:none;
			max-width:480px;
			margin-top:58px;


			h2 {

				font-size:40px;//RK
				font-weight: 800;
				line-height: 50px;
				letter-spacing: 3px;
				text-align:center;

				span {
					font-size: 27px;//RK
					letter-spacing: 3px;
				}
			}

			.slotMachine {
				border:1px solid #fff;
				margin: 14px 0 30px !important;
				height: 68px;
			}
			.slot {
				font-family: 'raleway', sen-serif;
				font-weight: 700;
				font-size: 25px;
			}

			 #slotButton3 {
			 	float:none;
			 	display: block;
			 	margin:0px auto;
			 }

		}
		//########### SG Home Slogan End ###########//

		#sec_about p{
			font-size: 15px;
    		line-height: 1.7em;
		}

		//########### Competition ##############//
		
		div#sec_competition:after{
			height: 100%;
			top: 0;
		}

		ul.competition-headings a {
			letter-spacing:2px;
			font-weight:600;
		}

		div.competition_topic {
			font-size: 14px;
			h4 {
				font-size:32px;
				padding:15px 0;

				span{
					font-size: 27px;
				}
			}
			h5{
				font-size: 19px;
			}
			p{
				    font-size: 14px;
				    line-height: 22px;
				    letter-spacing: initial;
			}
			ul{
				li{
					font-size: 14px;
				    margin-bottom: 10px;
				    line-height: 1.7em;
				}
			}
		}



		//###### Jumpnow home ###########//
		.jumpnow-des h3 {
			font-family:'fatfrank', sen-serif;
			letter-spacing:1px;
			font-size: 25px;//RK
			span {
				font-family:'fatfrank', sen-serif;
			}
		}

		//###### EVENT SINGLE ###########//
		.event_single {

			 .front_face {
			 	background-color: #333 ;
			 		text-shadow:0px 0px  20px black;
			 	
			 }

			 .back_face {
			 	p {
			 		padding:50px 0;
			 	}
			 }
			    
			}

		//######## SG Btns #################//
		.btn {
			letter-spacing:2px;
			}
		}
	//SG END
	
	div.slide.team_details{
		padding:2.2% 0% 5% 0%;
	}
	div.nav_group{
		bottom: -37px;
	}
	//Randy 04032016
	#competition_mobile_menu_container{
		display:block;
		position: absolute;
		z-index:2;
		background:$gray;
		width: 100%;
		ul.competition-headings{
		padding:0;
		margin:0;

		  a {
		  	padding-top:10px;
		  	height:100%;
		  	display: block;
		  	min-height: 60px;
		  }
		}
	}

	div.competition_topic {
		font-size: 14px;
		h4 {
			font-size:35px;
			padding:15px 0;

			span{
				font-size: 30px;
			}
		}
		h5{
			font-size: 19px;
		}
		p{
			    font-size: 14px;
			    line-height: 22px;
			    letter-spacing: initial;
		}
		ul{
			li{
				font-size: 14px;
			}
		}
	}
	.sloganContainer {
		background-size: 80% auto;
	}
	.jumpnow-des {
		h3 {
			text-align: center ;
			font-size: 27px;
		}
	}
	#sec_about p{
		font-size:15px;
		line-height: 25px;
	}


}
//Randy 04032016 for i5 landscape
@media only screen 
and (max-width : 568px) 
and (orientation : landscape) {

	//SG
	body.sg {
		letter-spacing:initial;
		font-size: 16px;
	    line-height: 24px;
		//************SG #home middle line ********//
		#sec_home:after{
			top:55%;	
		}

		//########### SG Home BG Start ###########//
		.sg_bg {
			// @extend .sec_home_bg;
			// background:#000 url('../img/home_bg_sg_2.jpg') no-repeat center;
			background: url('../img/home_bg_sg_5.jpg') no-repeat center;
			background-blend-mode: multiply;
			background-size:cover;
			-moz-background-size:cover;
			-ms-background-size:cover;
			-o-background-size:cover;
			-webkit-background-size:cover;
			position: relative;
			
		}
		//########### SG Home BG End ###########//

		//########### SG Home Slogan Start ###########//
		.sloganContainer_sg_bg{
			
			text-indent:initial;
			background-image:none;
			max-width:480px;
			margin-top:58px;


			h2 {

				font-size:40px;//RK
				font-weight: 800;
				line-height: 50px;
				letter-spacing: 3px;
				text-align:center;

				span {
					font-size: 27px;//RK
					letter-spacing: 3px;
				}
			}

			.slotMachine {
				border:1px solid #fff;
				margin: 14px 0 30px !important;
				height: 68px;
			}
			.slot {
				font-family: 'raleway', sen-serif;
				font-weight: 700;
				font-size: 25px;
			}

			 #slotButton3 {
			 	float:none;
			 	display: block;
			 	margin:0px auto;
			 }

		}
		//########### SG Home Slogan End ###########//

		#sec_about p{
			font-size:15px;
			line-height: 20px;
		}

		//########### Competition ##############//

		ul.competition-headings a {
			letter-spacing:2px;
			font-weight:600;
		}

		div.competition_topic {
			font-size: 14px;
			h4 {
				font-size:32px;
				padding:15px 0;

				span{
					font-size: 27px;
				}
			}
			h5{
				font-size: 19px;
			}
			p{
				    font-size: 14px;
				    line-height: 22px;
				    letter-spacing: initial;
			}
			ul{
				li{
					font-size: 14px;
				}
			}
		}


		//###### Jumpnow home ###########//
		.jumpnow-des h3 {
			font-family:'fatfrank', sen-serif;
			letter-spacing:1px;
			font-size: 25px;//RK
			span {
				font-family:'fatfrank', sen-serif;
			}
		}

		//###### EVENT SINGLE ###########//
		.event_single {

			 .front_face {
			 	background-color: #333 ;
			 		text-shadow:0px 0px  20px black;
			 	
			 }

			 .back_face {
			 	p {
			 		padding:50px 0;
			 	}
			 }
			    
			}

		//######## SG Btns #################//
		.btn {
			letter-spacing:2px;
			}
		}
	//SG END

#competition_prize_slide  {

	.prize-single {

		min-height: 210px !important;
		h4 {
			margin-top:20px;
		}

	&:first-of-type {
	@include background-size(50% auto);
		h4{
			font-size:34px;
			color:#2b4252;
		}
 	}
 	&:nth-of-type(2) {
	@include background-size(50% auto);
		color:$navy;
	
 	}
 	&:nth-of-type(3) {

	@include background-size(50% auto);
	
 	

		}



	}

	}

}

@media only screen 
and (max-width : 480px) 
and (min-width : 321px) 
and (orientation : portrait) {

	#competition_mobile_menu_container ul.competition-headings a {
		line-height: 37px;
	}



}

@media only screen 
and (orientation:landscape) {

	.menu-items-mobile.fs  ul{
		padding:22vh 0 0 0;

		.jumpnow_link a{
			padding:0 !important;
		}
	}
	.menu-items-mobile.fs li {
		padding:0 0 10vh 0;
	}
}



