/* Sections */
div.fp-section{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;

	&:after{
		content:"";
		width:1px;
		height:100%;
		position:absolute;
		left:49%;
		display: block;
		background-color:$primary-color
	}
}
div.section-padding{
	padding:8% 10% 0%;
}
div.slide-padding{
	padding:1.2% 0% 0% 0%;
}

div#sec_competition {
	background:$gray url(../img/cloud-tiles.png) center center;

	.slide-inner {
		background:$gray;
	}
}
/****HOME******/

div#sec_home {
	background:url('../img/home_bg.jpg') no-repeat center;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	position: relative;


}

.sloganContainer {
	margin: 90px auto 0;
    max-width: 294px;
	overflow:hidden;
	color:$white;
	height:700px;
	padding-top:100px;
	background:url(../img/slogan.png) no-repeat center top;
	background-size:100% auto;
	h2 {
		text-indent: -9999px;
		padding:0;
		margin:0;
	}

	.slotMachine {
			color:$white;
			height:80px;
		    margin: 0px 0 0 !important;
		    clear: both;
		    float: left;
		    color: #fbaf5d;
		    font-size: 40px;
		    display: block;
		    width: 100%;
		    opacity: 0.8;
			border:1px solid $primary-color;
			text-align: center;
			position:relative;

			

		.slot {
			color:$white;
			font-size:39px;
			height: 80px;
			line-height:80px;
		}




		

	}

	.slot-border {
			position:relative;
			overflow:visible;
			&:after {
				content:"";
				width:1px;
				display: block;
				position:absolute;
				background-color:$secondary-color;
				height:30px;
				bottom:60px;
				left:0px;
				width:30px;

			}

		}
	span.machine-border {
	display: block;
    background: $primary-color;
    height: 9999px;
    width: 1px;
    position: absolute;
    margin: -113px auto 0;
    left:49%;

	}


	#slotButton3 {
		margin-top:30px;
	}


}

/*ABOUT SECTIOIN***/
#sec_about {
	background:$navy url(../img/clouds-new.png) no-repeat 28% 20%;
	@include background-size(120% auto);
}
.top_animation {
    min-height: 460px;
}
.rocket{
	position:absolute;
	width: 278px;
    height: 221px;
	background: url(../img/rocket-new.png) no-repeat center center;
	@include background-size(75% auto);
	left: -20%;
	top: 80%;
}

#sec_about {
 
	p {
		display: block;
		margin-top:100px;
		background-color:$navy;
		@include orange-border;
		padding:50px 30px;
	}
}


/********** Jump Now Section ********/

div#sec_jumpnow {
	background: $navy url(../img/tiles.png);
	@include background-size(20% auto);

	p {
		@include font-large;
	}

}



ul.plan_list {
	padding:30px 0 20px;
	counter-reset: my-badass-counter;

	li {

		line-height: 35px;


		&:before {
			width:25px;
			height:25px;
			vertical-align: middle;
			margin-right:10px;
			@include font-normal;
			background-color:transparent;
			border:1px solid #fff;
			display: inline-block;
			text-align:center;
			font-size:60%;
			vertical-align: middle;
			line-height: 25px;
			border-radius:50%;
			content: counter(my-badass-counter);
			counter-increment: my-badass-counter;
		}
	}
	
}
/*COMPETITION****/

.jumpnow_part1 .slide-inner {
	border:none;
}

.slide-inner {
	position:relative;
	width:75%;
	margin:0 auto 0;
	@include orange-border;
	
}

div.competition_topic {
	h4 {
		text-align: right;
		font-size: 45px;
		color:$primary-color;
		font-family: $english;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 3px;

		span {
			display: block;
			font-size:35px;
			color:$secondary-color;
		}
	}

	h5{
		color:$primary-color;
		font-size: 26px;
	}

	.btn {
		position:absolute;
		bottom:-100px;
		left:35%;
		margin:0 auto;
		display: block;
		text-align: center;
	}
}

.info_list, .competition_topic p {
}

div#sec_competition {

}

ul.competition-headings {
	text-align:left;
	padding:0px 0 20px;

	li {
		display: inline-block;
		vertical-align: top;
	}
	a {
		color:#999;
		display: block;
		padding:15px 30px;
		letter-spacing: 10px;
			&.selected {
			

			background-color: $primary-color;
			color:white;
			}
	}
}

.slide_next.arrow {
	z-index:5;
	background:transparent;
	height: 45px;
	display:block;
    width: 45px;
    border: 1px solid $primary-color;
    text-indent: -9999px;
    @include border-radius(50%);
    @include transition(all 0.1s);
    right:-25px;
    top:200px;
    position:absolute;
    background:$gray;
     &:before {
    position: absolute;
    content: '';
    display: block;
    background: transparent;
    top: 0px;
    width: 16px;
    height: 16px;
   left: 25%;
    top: 31%;
    border-top: 1px solid $primary-color;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    &:after {
    position: absolute;
    content: '';
    display: block;
    background: transparent;
    top: 0px;
    width: 16px;
    height: 16px;
    left: 25%;
    top: 31%;
    border-top: 1px solid $primary-color;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    }

    &:hover {
    	background-color:$primary-color !important;
    	&:before,&:after {
    		border-color:$gray;
    	}
    }

   &.slide_team_details_arrow{
   	background:$navy !important;
   }

}

.slide_prev.arrow {
	@extend .slide_next.arrow;
	left:-20px;
	 &:before {
  	left: 40%;
    top: 31%;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    &:after {
    left: 40%;
    top: 31%;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }

    
}
/**COMPETITION PARTNERS*******/
div.competition_topic {
	a.basic_btn {
		margin-top:5%;
		margin-left:140px !important;
	}
}
div.sponsors {
	position:absolute;
	bottom:150px;
	left:0;


}
ul.partners {
	padding:0;
	text-align:center;

	li {
		background-color:#eee;
		width:100px;
		height:100px;
		display: inline-block;
		margin:0 15px 15px 0;
		padding:10px;
		cursor: pointer;
		vertical-align: top;
		@include border-radius(50%);
    	background-repeat: no-repeat;
    	background-position: center center;
    	-moz-background-size: 85% auto;
    	-ms-background-size: 85% auto;
    	-webkit-background-size: 85% auto;
    	-o-background-size: 85% auto;
    	-moz-background-blend-mode: multiply;
    	-ms-background-blend-mode: overlay;
    	-webkit-background-blend-mode: multiply;
    	-o-background-blend-mode: multiply;
    	background-blend-mode: multiply;
    	-webkit-filter: grayscale(1); 
		-moz-filter: grayscale(1);
		filter: gray; 
		filter: grayscale(1);
		transition: all 0.1s;
		-ms-transition: all 0.1s;
		-o-transition: all 0.1s;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		opacity: 0.8;



		
		a{	
			color:$primary-color;
			display: block;
			text-indent: -9999px;
		}

		&:first-child {
			background-image:url(../img/螞蜂窩_logo.png);

		}
		&:nth-child(2){
			background-image: url(../img/venture_craft_logo.png);
		}
		&:nth-child(3){
			background-image: url(../img/365_logo.png);
		}
		&:nth-child(4){
			background-image: url(../img/e27_logo.png);
		}
		&:nth-child(5){
			background-image: url(../img/citytours_logo.png);
		}
		&:nth-child(6){
			background-image: url(../img/ping_logo.png);
		}
		&:nth-child(7){
			background-image: url(../img/DSEE_logo.png);
		}
		&:hover {
			-moz-background-blend-mode: normal;
	    	-ms-background-blend-mode: normal;
	    	-webkit-background-blend-mode: normal;
	    	-o-background-blend-mode: normal;
	    	background-blend-mode: normal;
	    	-webkit-filter: grayscale(0); 
			-moz-filter: grayscale(0);
			filter: gray; 
			filter: grayscale(0);
			opacity: 0.8;
			background-color:white;
		}
	}
}

/**COMPETITION DETAILS**/
#competition_info_slide {

}
.info_list{
	ul {
		padding:0 0 0 20px;

		li {

			&:before{
				content:"";
				width:20px;
				height:20px;
				margin-right:15px;
				display:inline-block;
				vertical-align: center;
				background-color: #dedede;
				@include border-radius(50%);
			}
		}
	}
	
}
div.timeline {
	margin-top:50px;
	ul{ 
		position:relative;
		padding:0 0 25px;

		
		&:after {
			display: none;
			
		}
		
		li {
			vertical-align: bottom;
		    display: inline-block;
		    height:91px;
		    line-height: 30px;
		    min-width: 200px;
		    position: relative;
			width: 25%;
			padding: 20px 0px 20px 50px;
			background: $gray;
			bottom:0px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			border: $primary-color solid 1px;
			-webkit-box-shadow: 3px 10px 0px -5px rgba(220,220,220,1);
			-moz-box-shadow: 3px 10px 0px -5px rgba(220,220,220,1);
			-ms-box-shadow: 3px 10px 0px -5px rgba(220,220,220,1);
			-o-box-shadow: 3px 10px 0px -5px rgba(220,220,220,1);
			box-shadow: 3px 10px 0px -5px rgba(220,220,220,1);
			transition: all 0.5s;
			-webkit-transition: all 0.25s;
			-ms-transition: all 0.25s;
			-o-transition: all 0.25s;
			-moz-transition: all 0.25s;
			
			&:hover {
				position:relative;
				bottom:15px;
				-webkit-box-shadow: 3px 15px 2px -3px rgba(220,220,220,0.6);
				-moz-box-shadow: 3px 15px 2px -3px rgba(220,220,220,0.6);
				-ms-box-shadow: 3px 15px 2px -3px rgba(220,220,220,0.6);
				-o-box-shadow: 3px 15px 2px -3px rgba(220,220,220,0.6);
				box-shadow: 3px 15px 2px -3px rgba(220,220,220,0.6);
			}

			&:first-child {
				z-index:10;
				padding-left:10px;
			}
			&:nth-child(2) {
				z-index:9
			}
			&:nth-child(3) {
				z-index:8
			}

			&:nth-child(4) {
				padding-right:10px;
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
			}
			

				h4 {
					color:$primary-color;
					margin:0;
					font-size:18px;

					span {
					margin-top:-4px;
					font-size:14px;
					display:inline-block;
					float:right;
					line-height: 30px;
					vertical-align: top;
					background-color:$secondary-color;
					border-radius:30px;
					padding:0px 10px;
					color:#fff !important;
										}
				}

				p {
					clear:both;
					font-size:12px;
					margin:0;
					color:#999;
				}

				


				&:after {
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 45px 0 45px 45px;
					border-color: transparent $gray;
					display: block;
					width: 0;
					z-index: 5;
					right: -45px;
					top: -1px;
				}

				&:before {
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 45px 0 45px 45px;
					border-color: transparent $primary-color;
					display: block;
					width: 0;
					z-index: 1;
					right: -46px;
					top: -1px;
				}

			}

		li:last-child {
			margin-right:0px;
		}



	}
	

}
/* PRIZE**/

#competition_prize_slide  {
	display:block;
	
	p {
	 		color:$primary-color !important;
	 		font-size:24px;
	 		margin-top:30px;
	 		text-align:center
	 	}

	.prize-single {
		margin:0 auto;
		min-height:300px;

		&:first-of-type {
		background: url(../img/secondplace.png) no-repeat center 0;
		@include background-size(100% auto);
			h4{
				font-size:45px;
				color:#2b4252;
			}
	 	}
	 	&:nth-of-type(2) {
		background: url(../img/firstplace.png) no-repeat center 0;
		@include background-size(100% auto);
			color:$navy;
		
	 	}
	 	&:nth-of-type(3) {
		background: url(../img/thirdplace.png) no-repeat center 0;
		@include background-size(100% auto);
			h4{
				font-size:45px;
				color:#2b4252;
			}
	 	}

	 	h4 {
	 		display: block;
	 		text-align: center;
	 		font-family: $english;
			font-weight: 600;
			font-size:50px;
			text-align: center;
			display: block;
			margin-top:270px;
	 	}
	 	

	}



}




/**JUMP******/

.jumpnow_part1 {
	a.bizplan_download {
	float:left;
	position:relative;
	margin-top:70px;
	background-color:$navy;
	@include orange-border;
	min-width:240px;
	font-size:18px;
	height:50px;
	cursor:pointer;
	clear:both;
	line-height:8px;
	display:inline-block;
	padding:20px 20px;
	width:auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;

		&:hover {
		color:#fff;
		background-color:#555 !important;
		-webkit-box-shadow: 0px 0px 0px -5px rgba(221,93,32,1);
		-moz-box-shadow: 0px 0px 0px -5px rgba(221,93,32,1);
		-ms-box-shadow: 0px 0px 0px -5px rgba(221,93,32,1);
		-o-box-shadow: 0px 0px 0px -5px rgba(221,93,32,1);
		box-shadow: 0px 0px 0px -5px rgba(221,93,32,1);
		}

		&:after {
		content: "";
		position:absolute;
		display:block;
		right: 6px;
    	top: 4px;
	    width: 36px;
  		height: 36px;
		background:url(../img/download_btn.png) no-repeat center center;
		}


	}
	
	
}


.jumpnow-des {
	@include orange-border;
	padding:20px;
	background:$navy;

	h3 {
		color:$primary-color;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 600;
	}

	li {
		color:white;
			}
}
.jumpnow-btn-set {
	margin-top:20%;
}

.imready {
	margin-top:10px;
}
/***FORMS*****/

#sec_jumpnow {
	h2 {
		color:$primary-color;
		font-weight: bold;
		width:95%;
		margin:0 auto;
		display: block;
		padding-bottom:10px;
	}

	.slide-inner {
		margin:0 auto;
		background:$navy;
		width: 95%;
		padding:20px;
		vertical-align: top;

		&:first-child {
			background:transparent;
		}
	}


}
.team_details {
	
	
}
.team_details_single>span {
	clear:none;
}
.team_member {
	width:100px;
	clear:none !important;
}
.responsibility {
	width:100px;
	clear:none !important;
}
/*****Event Section**********/
div#sec_events{
	background:#fbfbfb;
	padding-top:150px;
	position: relative;
}



.event_single {
	position:relative;
	padding:10px;
	color:#fff;
	width:28%;
	margin-right: 5%;
	min-height: 300px;
	display: block;
	text-align: center;
	// background:#999 url(../img/stock.jpg) no-repeat;
	// background-blend-mode: multiply;
	-webkit-background-size:100% auto;
	-ms-background-size:100% auto;
	-moz-background-size:100% auto;
	-o-background-size:100% auto;
	background-size:100% auto;
	// backdrop-filter: blur(10px);

	h3 {
		color:$white;
		padding:120px 0 30px;
		font-family: $english;
		font-weight: 600;
	}
	span {
		color:$secondary-color;
		margin-top:30px;
		font-weight:600;
		font-family: $english;
	}
	p {
		font-size:18px;
		line-height: 28px;
	}
	.front_face{

		padding:10px;
		background:#888 url(../img/stock.jpg) no-repeat;
		background-blend-mode: multiply;
		backdrop-filter: blur(10px);

		:after {
			content:"";
			border:1px solid #fff;
			width:95%;
			height:95%;
			display:block;
			position:absolute;
			top:7px;
			left:7px;
		}

	}
	.back_face {
		padding:30px;
		@extend .front_face;
		background-color:#333 !important;
	}

}

/***CONTACT_US******/
div.contact_container{
	width: 100%;
	background:$primary-color;
	text-align:center;
	position: absolute;
	padding:30px;
	left:0;
	// top: 85vh;
	bottom:-391px;
	& .contact_header{
		cursor: pointer;
	}
	h2{
		color:#fff;
		font-family:$english;
		font-weight: 600;
		border:1px solid $white;
		width:300px;
		padding:10px;
		margin:0 auto;
		display: block;
	}

	.input {
		margin:0;
		input {
			color:#fff;
			font-weight:normal !important;
		}
		label {
			color:#fff;
		}


	}

	textarea{
			width:100%;
			border:1px solid #fff;
			background:transparent;
			margin-top:30px;
			padding:5px 15px;
			color:#fff;
			font-size:18px;
			height: 250px;
			outline: none;
		
		&::-webkit-input-placeholder{
			color:rgba(255,255,255,0.5);

			}
		}
	input[type="submit"]{
		border:1px solid #fff;
		padding:5px 20px;
		background-color:transparent;
		color:#fff;
		font-family: $english;
		text-transform: uppercase;
		float:right;
		margin-top:15px;
	}
}



