html
	head
		meta(charset="UTF-8")
		title Document
	body
		h1 contact us
		.pingInfo
			.container
				p company details here 
		.userInfo
			form(action="/contact", enctype="multipart/form-data", method="post")
				input(type='text', name="user_name", placeholder="Name")
				input(type='text', name="user_email", placeholder="Email")
				input(type='text', name="user_phone", placeholder="Phone")
				input(type='textarea',name="user_msg", placeholder="Message")
				input(type="submit",value="Send")
			