html
	head
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="../js/jquery_fullPage.js")
	script(src="../js/jquery.slotmachine.js")
	link(href="../css/index.css", rel='stylesheet')
	link(href="../css/jquery_fullPage.css", rel='stylesheet')
	script(src="../js/index.js")


	body
		#fullpage
			.section#sec1
				.sloganContainer
					h2 當你擁有
					h2 100,000,000+ 使用者
					h2 你會 
						.slotMachine#slot3 
							span.slot 喝杯咖啡先
							span.slot 跳起來轉三圈
							span.slot 繼續逛網拍
							span.slot 滑個臉書再說
							span.slot 先吃個下午茶
							span.slot 翹課打LOL
							span.slot 夜唱夜衝夜遊
							span.slot 準備創業計畫
					h2#slotButton3 開始行動
				//- ul  
				//- 	li 
				//- 		a(href='/submit') submit
				//- 	li 
				//- 		a(href='/contact_us') contact us
				//- 	li 
				//- 		a(href='/coming') coming soon
			.section#sec2
				h2 About
			.section#sec3
				.slide 
					h2 competition
				.slide
					h3 slide2
				.slide
					h3 slide3
			.section#sec4
				.slide
					h2 jumpnow
				.slide
					h3 slide2
				.slide
					h3 slide3
			.section#sec5
				h2 comming soon





