html
	head
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="../js/jquery_fullPage.js")
	script(src="../js/jquery.slotmachine.js")
	link(href="../css/boostrap.css", rel='stylesheet')
<<<<<<< HEAD
	link(href="../css/jquery_fullPage.css", rel='stylesheet')
	link(href="../css/set1.css", rel='stylesheet')
	link(href="../css/main.css", rel='stylesheet')
=======
	link(href="../css/main.css", rel='stylesheet')
	link(href="../css/jquery_fullPage.css", rel='stylesheet')
>>>>>>> origin/master
	script(src="../js/index.js")


	body
		#fullpage
<<<<<<< HEAD
			//- .section#sec_home
			//- 	.sloganContainer
			//- 		h2 當你擁有
			//- 		h2 100,000,000+ 使用者
			//- 		h2 你會 
			//- 			.slotMachine#slot3 
			//- 				span.slot 喝杯咖啡先
			//- 				span.slot 滑個臉書再說
			//- 				span.slot 繼續逛網拍
			//- 				span.slot 準備創業計畫
			//- 				span.slot 先吃個下午茶
			//- 				span.slot 翹課打LOL
			//- 				span.slot 夜唱夜衝夜遊
			//- 				span.slot 跳起來轉三圈
			//- 		h2#slotButton3 開始行動
			//- 	//- ul  
			//- 	//- 	li 
			//- 	//- 		a(href='/submit') submit
			//- 	//- 	li 
			//- 	//- 		a(href='/contact_us') contact us
			//- 	//- 	li 
			//- 	//- 		a(href='/coming') coming soon
			//- .section#sec_about
			//- 	h2 About
			//- .section#sec_competition
			//- 	.slide 
			//- 		h2 competition
			//- 	.slide
			//- 		h3 slide2
			//- 	.slide
			//- 		h3 slide3
=======
			.section#sec_home
				.sloganContainer
					h2 當你擁有
					h2 100,000,000+ 使用者
					h2 你會 
						.slotMachine#slot3 
							span.slot 喝杯咖啡先
							span.slot 跳起來轉三圈
							span.slot 繼續逛網拍
							span.slot 滑個臉書再說
							span.slot 先吃個下午茶
							span.slot 翹課打LOL
							span.slot 夜唱夜衝夜遊
							span.slot 準備創業計畫
					h2#slotButton3 開始行動
				//- ul  
				//- 	li 
				//- 		a(href='/submit') submit
				//- 	li 
				//- 		a(href='/contact_us') contact us
				//- 	li 
				//- 		a(href='/coming') coming soon
			.section#sec_about
				h2 About

				.slotMachineContainer
					.slotMachine#slot1 Ping!
					.slotMachine#slot2 
						.slot IS AWESOME
						.slot ROCKS!
						.slot IS EASY TO USE
						.slot IS FANFASTIC
						.slot IS FASHION
					button#slotButton2 Spin
			.section#sec_competition
				.slide 
					h2 competition
				.slide
					h3 slide2
				.slide
					h3 slide3
>>>>>>> origin/master
			.section#sec_jumpnow
				.slide
					h2 jumpnow
				.slide.team_details
				
					h2.hoshi
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi name
				
		
				.slide.personal_details
					h3 slide3
<<<<<<< HEAD
			.section#events
				h2 comming soon
=======
			.section#sec_events
				h2 events
>>>>>>> origin/master


				




