html
	head
		meta(charset="UTF-8")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="../js/jquery_fullPage.js")
		script(src="../js/jquery.slotmachine.min.js")
		link(href="../css/bootstrap.css", rel='stylesheet')
		link(href="../css/jquery_fullPage.css", rel='stylesheet')
		link(href="../css/set1.css", rel='stylesheet')
		link(href="../css/set2.css", rel='stylesheet')
		link(href="../css/main.css", rel='stylesheet')
		script(src="../js/index.js")
		script(src="https://use.typekit.net/umx0psn.js")
		script(type='text/javascript'). 
			try{Typekit.load({ async: true });}catch(e){}

	body
		#fullpage

			.section#sec_home.container
				header.container
					.col-md-2
						a(class='navbar-brand' href='#') Jump Start
					.main-menu
						ul.menu
							li
								a about
							li
								a competition
							li.jumpnow_link 
								a jump now
							li 
								a events
				.sloganContainer
					h2 當你擁有
					h2 100,000,000+ 使用者
					h2 你會 
						.slotMachine#slot3 
							span.slot 喝杯咖啡先
							span.slot 滑個臉書再說
							span.slot 繼續逛網拍
							span.slot 跳起來轉三圈
							span.slot 先吃個下午茶
							span.slot 翹課打LOL
							span.slot 夜唱夜衝夜遊
							span.slot 準備創業計畫
						span.machine-border &nbsp	
					h2#slotButton3 開始行動 
						span &nbsp;
				
				//- ul  
				//- 	li 
				//- 		a(href='/submit') submit
				//- 	li 
				//- 		a(href='/contact_us') contact us
				//- 	li 
				//- 		a(href='/coming') coming soon
			.section#sec_about.container.primary_bg
				.top_animation.col-md-9.col-centered
					.rocket
					.col-md-9.col-centered
						p.en_para.white-text 
							|Jumpstart, a first-of-its kind programme in Asia, provides opportunities for partnership creation between regional entrepreneurs/enterprising corporates and global companies expanding into the region. Local entrepreneurs and businesses stand to bring their promising business ideas or products to market. <br /><br />

							|Jumpstart, 亞洲第一個跨國商業合作計畫, 幫助當地企業與國際接軌，有前景的理念、產品將於世界舞台綻放，創造更大的商機。		

			.section#sec_competition
				.slide 
					h2 competition
				.slide
					h3 slide2
				.slide
					h3 slide3

			.section#sec_jumpnow
				//- 這樣包我就可以一個form包兩個slide的input
				form(action='/upload', enctype="multipart/form-data",method="post")  
					.slide.fp-auto-height
						h2 jumpnow
					.slide.team_details.fp-auto-height
						h2.hoshi
						.col-md-4.clearfix
								span.input.input--hoshi
									input#input-4.input__field.input__field--hoshi(type='text',name='team_name')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
											span.input__label-content.input__label-content--hoshi 隊伍名稱
								textarea(placeholder='產品介紹',name='product_brief')
								span.input.input--hoshi
									input#input-4.input__field.input__field--hoshi(type='file',name='BP_file')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
											span.input__label-content.input__label-content--hoshi 上傳檔案	
							.col-md-4
								.team_detail_single
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_name')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 成員
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_info')

										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 負責項目
									//- button(class='button',id='del_member') 刪除成員  //只有一個成員的時候應該不用刪除成員這選項吧ＸＤ
								button(id='add_member') 添加成員
								a(class='button', href='google.com') 下一步
			
					.slide.personal_details.fp-auto-height
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='contact')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 姓名
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='phone')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 電話
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='email')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi Email
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='address')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 聯絡地址
							label
								input(type="checkbox" name='我同意' value="我同意") 
								span 我同意
							input(type='submit' value='submit')
			.section#sec_events
				h2 events

			.section#sec_contact
				.col-md-4
					form(action='/contact', enctype="multipart/form-data",method="post")
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text',name='user_name')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 姓名
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text',name='user_phone')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 電話
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text',name='user_email')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi Email
						textarea(placeholder='內容',name='user_msg')
						input(type='submit' value='submit')
						



				




