html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://use.typekit.net/umx0psn.js")
		script(type='text/javascript').
			window.jQuery || document.write('<script src="../js/jquery-2.2.0.min.js">\x3C/script>')
		script(type='text/javascript',src="../js/jquery.slimscroll.js")
		script(src="../js/jquery_fullPage.js")
		link(href="../css/jquery_fullPage.css", rel='stylesheet')
		script(src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js")
		script(src="../js/jquery.slotmachine.min.js")
		link(href="../css/bootstrap.css", rel='stylesheet')
		link(href="../css/set1.css", rel='stylesheet')
		link(href="../css/set2.css", rel='stylesheet')
		link(href="../css/main.css", rel='stylesheet')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
		script(src="../js/index.js")
		script(type='text/javascript'). 
			try{Typekit.load({ async: true });}catch(e){}

	body
		#fullpage
			.backToTop
				a(href='#home') 
					span.fa.fa-angle-top 
			.scrollDown.scrollDownAni
				a(href='#about')
					span.fa.fa-angle-down
			.section#sec_home.container.section-padding(data-anchor='home')
				header.container#header
					.col-md-12
						.col-md-2
							a(class='navbar-brand' href='#home') JumpStart.
						.main-menu#main_menu.col-md-10
							ul.menu
								li(data-menuanchor='about')
									a(href='#about') about
								li(data-menuanchor='competition')
									a(href='#competition/1') competition
								li.jumpnow_link(data-menuanchor='jumpnow') 
									a(href='#jumpnow') jump now
								li(data-menuanchor='events') 
									a(href='#events') events
				.sloganContainer
					h2 當你擁有
					h2 100,000,000+ 使用者
					h2 你會 
						.slotMachine#slot3 
							span.slot 喝杯咖啡先
							span.slot 滑個臉書再說
							span.slot 繼續逛網拍
							span.slot 跳起來轉三圈
							span.slot 先吃個下午茶
							span.slot 翹課打LOL
							span.slot 準備創業計畫
							span.slot 夜唱夜衝夜遊
						//- span.machine-border &nbsp	

					a#slotButton3.btn.btn-4.btn-4a.navy.icon-arrow-right 開始行動
						span &nbsp;
					
	
			.section#sec_about.container.primary_bg.section-padding(data-anchor='about')
				.top_animation.col-md-12.col-centered
					.rocket
					.col-md-9.col-centered
						p.en_para.white-text 
							|Jumpstart, 是亞洲第一個跨國商業合作計畫, 致力於幫助當地企業與國際接軌，讓有前景理念的產品在世界舞台上綻放，創造更大的商機。		

			.section#sec_competition.container(data-anchor='competition')
				.slide#competition_info_slide.slide-padding
						.col-md-5.col-centered
							ul.competition-headings#competition_menu
								li
									a(href="#competition") 參賽資訊
								li 
									a.selected(href="#competition/1") 競賽主題
								li 
									a(href="#competition/2") 獎項
						.col-md-12.info_list
							ul
								li 團隊成員以5人為限，需含程式開發、資料分析、設計、商業等相關專業背景，因獲選後需實作。
								li 不得為主承辦單位之競爭者。
								li 運用主辦單位所提供之API、Open Data、工具，設計出可執行之商業計畫書(Business Plan)，以15頁為限。
								li  選進入第二階段後，參加決賽的團隊，每隊只可派出一至兩名核心成員參加簡報，簡報時間為5~8分鐘。
								li 參賽專案的產品、技術及相關專利歸屬參賽團隊(Ping需佔股份，詢問法律顧問)。
						.col-md-12
							.timeline
								ul
									li 
										h4 線上報名
											span 五週
										p 截止時間:  12AM 23/03/2016
									li 
										h4 決賽名單公布
											span 一週
										p 入選隊伍:  12AM 30/03/2016
									li 
										h4 決賽
											span 一週
										p 開始時間:  10 AM 06/04/2016
									li 
										h4 實作
											span 四週
										p 截止時間:  04/05/2016
									


				.slide.competition_topic.active#competition_topic_slide.relative-position.slide-padding
					.col-md-5.col-centered
						ul.competition-headings#competition_menu
							li
								a(href="#competition") 參賽資訊
							li 
								a.selected(href="#competition/1") 競賽主題
							li 
								a(href="#competition/2") 獎項
					.col-md-7.col-centered.clearfix
						p 渴望更多在國際舞台嶄露才華的機會嗎？現在，與世界接軌的鑰匙就掌握在你手上。
							|亞洲人才與創業孵化平台 - Ping!為推動創業風氣，與新加坡知名創投公司 - Venturecraft VC首度合作，VC將提供巨量的 User data，期望各方人才組隊報名，互相激盪，創造更多商業價值。
						a.btn.btn-4.btn-4a.icon-arrow-right(href='#jumpnow') 我要參加!
					.col-md-12.col-centered.sponsors
						.col-md-12.col-centered
							ul.partners
								li
									a 螞蜂窩
								li 
									a venture craft
								li
									a 365
								li
									a e27
								li
									a city tour
								li
									a Ping!
								li 
									a DSEE
						
					

				.slide#competition_prize_slide.slide-padding
						div.container
							.col-md-5.col-centered
								ul.competition-headings#competition_menu
									li
										a(href="#competition") 參賽資訊
									li 
										a.selected(href="#competition/1") 競賽主題
									li 
										a(href="#competition/2") 獎項
							.col-md-12
								.col-md-4.prize-single
									h4 $90,000 
								.col-md-4.prize-single
									h4 $300,000
								.col-md-4.prize-single
									h4 $50,000
								.col-md-12
									p *入選隊伍均可於新加坡設立境外公司


					


			.section#sec_jumpnow(data-anchor='jumpnow').section-padding
				//- 這樣包我就可以一個form包兩個slide的input
				form#reg_form(action="/upload",enctype="multipart/form-data",method="post")  
					.slide.jumpnow_part1
						.col-md-5.laptop-img
						.col-md-7.white-text
							h3 三個步驟馬上加入Jumpstart計畫!
							ul.plan_list
								li 下載商業計劃書範本
								li 填寫計畫書及相關資料
								li 送出
							a.bizplan_download 
								|商業計劃書範本 <br/>
							a.imready.basic_btn(href='#jumpnow/1') 我準備好了!
								
						
					.slide.team_details.relative-position
						h2.hoshi
							.col-md-4.clearfix
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='team_name')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 隊伍名稱
									span.input.input--hoshi 
										|產品介紹		
										textarea(name='product_brief')
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='file',name='BP_file')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 上傳檔案	
								.col-md-8
									.team_detail_single.clearfix
										span.input.input--hoshi.team_member
											input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_name')
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 成員
										span.input.input--hoshi.responsibility
											input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_info')

											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 負責項目
										//- button(class='button',id='del_member') 刪除成員  //只有一個成員的時候應該不用刪除成員這選項吧ＸＤ
									button(id='add_member') 添加成員
								.nav_group		
									a(class='button prev_btn',href='#jumpnow') 上一步
										span &nbsp;
									a(class='button next_btn', href='#jumpnow/2') 下一步
										span &nbsp;
					.slide.personal_details.fp-auto-height
						.col-md-6.personal_details_group.col-centered
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='contact')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 姓名
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='phone')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 電話
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='email')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi Email
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text',name='address')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 聯絡地址
							label.iagree
								input(type="checkbox" name='我同意' value="我同意") 
								span 我同意
							//- input.col-centered(type='submit' value='我要提交計畫')
							button.submit_btn.btn.btn-7.btn-7h.icon-envelope submit

							


			.section#sec_events.section-padding(data-anchor='events')
				.event_group.container
					.event_single.col-md-4
						.event_single_rotate
							.front_face
								h3 9 Robot
								span 8月 2016
								
							.back_face
								p.description 本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
					.event_single.col-md-4
						.event_single_rotate
							.front_face
								h3 MTXX
								span 2月 2017
								
							.back_face
								p.description 本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
					.event_single.col-md-4
						.event_single_rotate
							.front_face
								h3 COMING SOON!
								
							.back_face
								p.description 本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。

				.contact_container
					.col-md-12.contact_header
						.col-md-12
							h2 CONTACT US 
								span 
									i.fa.fa-angle-up
					.col-md-12.contact_form
						form#contact_us_form(action="/contact", enctype="multipart/form-data",method="post")
							.col-md-4
								span.input.input--hoshi
									input#input-4.input__field.input__field--hoshi(type='text',name='user_name')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
											span.input__label-content.input__label-content--hoshi 姓名
								span.input.input--hoshi
									input#input-4.input__field.input__field--hoshi(type='text',name='user_email')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
											span.input__label-content.input__label-content--hoshi email
								span.input.input--hoshi
									input#input-4.input__field.input__field--hoshi(type='text',name='subject')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
											span.input__label-content.input__label-content--hoshi 標題
							.col-md-8
								textarea(placeholder='我有疑問...',name='user_msg')
								//- input(type='submit' value='傳送給我們!')
								button.contact_us_btn.btn.btn-7.btn-7h.icon-envelope contact us
	

	//-classie.js is the function that runs the input effect
	script(type='text/javascript',src='../js/classie.js').

							



					




