html
	head
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="../js/jquery_fullPage.js")
	//- link(href="../css/jquery_fullPage.css", rel='stylesheet')
	link(href="../css/index.css", rel='stylesheet')
	script(src="../js/index_fullpage.js")

	body
		#fullpage
			.section#sec1
				h2 Banner
				ul
					li 
						a(href='/submit') submit
					li 
						a(href='/coming') coming soon
			.section#sec2
				h2 About
			.section#sec3
				h2 Intro
			.section#sec4
				h2 Trusted by