html
	head
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="../js/jquery_fullPage.js")
	script(src="../js/jquery.slotmachine.min.js")
	link(href="../css/boostrap.css", rel='stylesheet')
	link(href="../css/jquery_fullPage.css", rel='stylesheet')
	link(href="../css/set1.css", rel='stylesheet')
	link(href="../css/main.css", rel='stylesheet')
	script(src="../js/index.js")


	body
		#fullpage
			.section#sec_home
				.sloganContainer
					h2 當你擁有
					h2 100,000,000+ 使用者
					h2 你會 
						.slotMachine#slot3 
							span.slot 喝杯咖啡先
							span.slot 滑個臉書再說
							span.slot 繼續逛網拍
							span.slot 跳起來轉三圈
							span.slot 先吃個下午茶
							span.slot 翹課打LOL
							span.slot 夜唱夜衝夜遊
							span.slot 準備創業計畫
					h2#slotButton3 開始行動
				//- ul  
				//- 	li 
				//- 		a(href='/submit') submit
				//- 	li 
				//- 		a(href='/contact_us') contact us
				//- 	li 
				//- 		a(href='/coming') coming soon
			.section#sec_about
				h2 About
			.section#sec_competition
				.slide 
					h2 competition
				.slide
					h3 slide2
				.slide
					h3 slide3

			.section#sec_jumpnow
				.slide
					h2 jumpnow
				.slide.team_details
				
					h2.hoshi
					.col-md-4.clearfix
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 隊伍名稱
						textarea(placeholder='產品介紹')
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='file')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 下載
						
					.col-md-4
						.team_detail_single
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 成員
							span.input.input--hoshi
								input#input-4.input__field.input__field--hoshi(type='text')
								label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
										span.input__label-content.input__label-content--hoshi 負責項目
							a(class='button', href='google.com') -
						a(class='button', href='google.com') 添加成員
						a(class='button', href='google.com') 下一步
				
		
				.slide.personal_details
					span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 姓名
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 電話
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi Email
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 聯絡地址
						label
							input(type="checkbox" name='我同意' value="我同意") 
							我同意
						input(type='submit' value='submit')
			.section#sec_events
				h2 events

			.section#sec_contact
				.col-md-4
					span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 姓名
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 電話
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi Email
						span.input.input--hoshi
							input#input-4.input__field.input__field--hoshi(type='text')
							label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
									span.input__label-content.input__label-content--hoshi 聯絡地址
						
						textarea(placeholder='內容')
					input(type='submit' value='submit')
						



				




