html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		//- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://use.typekit.net/umx0psn.js")
		script(type='text/javascript').
			window.jQuery || document.write('<script src="../js/jquery-2.2.0.min.js">\x3C/script>')
		script(src="../js/jquery.validate.js")
		script(src='../js/additional-method.js')
		script(src="../js/jquery_fullPage.js")
		script(src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js")
		script(src="../js/jquery.slotmachine.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
		
		link(href="../css/jquery_fullPage.css", rel='stylesheet')
		link(href="../css/bootstrap.css", rel='stylesheet')
		link(href="../css/set1.css", rel='stylesheet')
		link(href="../css/set2.css", rel='stylesheet')
		link(href="../css/main.css", rel='stylesheet')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
			
		script(type='text/javascript'). 
			try{Typekit.load({ async: true });}catch(e){}

	body.sg
		#fullpage
			.section#sec_home.sec_home_bg.sg_bg.container.section-padding(data-anchor='home')
				header.container#header
					.navbar-header.col-md-12
						
						.col-md-2
							a(class='navbar-brand' href='#home') JumpStart.
						#main_menu.col-md-10.main-menu
							.menu-bg.hidden-md.hidden.lg
							.menu-burger.hidden-md.hidden-lg ☰
							ul.menu.hidden-xs.hidden-sm
								li(data-menuanchor='about')
									a(href='#about') about
								li(data-menuanchor='competition')
									a(href='#competition') What We Do
								//- li.jumpnow_link(data-menuanchor='jumpnow') 
								//- 	a(href='#jumpnow') 
								//- 		i.fa.fa-rocket 
								//- 		| Connect
								li.jumpnow_link(data-menuanchor='jumpnow') 
									a(href='#jumpnow') 
										| Connect
								li(data-menuanchor='events') 
									a(href='#events') Industries
							.menu-items-mobile
								ul.menu.hidden-md.hidden-lg
									li(data-menuanchor='about')
										a(href='#about') about us
									li(data-menuanchor='competition')
										a(href='#competition') competition
									li(data-menuanchor='events') 
										a(href='#events') events
									li.jumpnow_link(data-menuanchor='jumpnow') 
										a(href='#jumpnow') jump now

				.sloganContainer.sloganContainer_bg_sg.zindex
					h2 
						b Your
					h2 
						span Corporate Innovation 
					h2 Outpost

					.slotMachine#slot3 
						span.slot STAY AHEAD
						span.slot INNOVATE
						span.slot TRENDING
						span.slot DISRUPT
						span.slot TRANSFORM
						span.slot OPPORTUNITIES
						//- span.slot 夜唱夜衝夜遊
						//- span.slot 準備創業計畫
					//- span.machine-border &nbsp	

					a#slotButton3.btn.btn-4.btn-4a.orange.icon-arrow-down2 CONNECT
					//- span.machine-border
					
	
			.section#sec_about.container.primary_bg.section-padding(data-anchor='about')
				.top_animation.col-md-12.col-centered.zindex.xs-no-pad
					.rocket
					.col-md-8.col-centered
						.border_container
							.border.top
							.border.right
							.border.bottom.b_right
							.border.bottom.b_left
							.border.left
							p.white-text
								|We are Asia’s first centralized Corporate Innovation Outpost. Our platform is open to global corporations expanding into Asia to tap into the regional innovation clusters to seek out potential threats and opportunities in disruptive technologies. </br></br>
								|Leveraging the regional start-up, industry and academic ecosystems, we help to convert enterprising ideas by local start-ups and entrepreneurs into new or improved products, processes or business models for our partnering companies.

								//- |Venturecraft builds Asia’s first centralized corporate innovation outpost, where we bring together local startup
								//- |/entrepreneurs and international companies, providing a platform where ideas are turned into collaboration |opportunities. 

								//- |By tapping into regional technological, industrial and academic ecosystems, we seek ideas and JUMPSTART |providing funds and tools to venture build, from prototyping to go to market.
								//- |Jumpstart offers job and collaboration opportunities with international companies to local start-ups and |entrepreneurs with enterprising ideas that could be converted into new or improved products, processes or |business models for the partnering companies.<br/>
								//- |Key Concepts

								//- |Corporate Innovation Outpost, based in Asia.
								
								//- |Bullish on trends and disruptive technologies, Jumpstart funds and builds great ideas into products for use with |our partnering companies.

								//- |partnership that brings global companies
								//- |and localized companies together
								
								//- |jointly seeking at ideas to keep ahead of the trends  (to stay ahead of curve)
								
								//- |Venturecraft collates resources
								//- |funds  from (share holders) and tools(PING!)  
								//- |building blocks that turn great ideas into prototypes, and eventually finetuning for immediate use with our |partners.
								
								//- |When you have a great idea, drop us a note. We don't close the challenges until they are solved.
								//- |Happening  24/7.
								
								
								//- |other big words IS likes:
								
								//- |power of localization
								//- |mindshare

								
								//- |渴望更多機會在國際舞台嶄露才華嗎？現在，與世界接軌的鑰匙就掌握在你手上。亞洲人才與創業孵化平台 - 
								//- a.primary-text(href="http://ping.com.sg", target="_blank") 
								//- 	|Ping! 
								//- |為推動創業風氣，與新加坡知名創投公司 - 
								//- a.primary-text(href="http://venturecraft.vc", target="_blank") 
								//- 	|Venturecraft 
								//- |VC共同打造Jumpstart計畫。 <br/><br/>

								//- |Jumpstart，亞洲第一個跨國商業合作計畫，我們幫助當地企業、人才與國際接軌，將有前景的理念、產品於世界舞台綻放，創造更大的商機。我們將不定期提供巨量的OPEN DATA及多元題材，期望各方人才組隊報名，互相激盪，創造更多商業價值。
								//- |渴望更多機會在國際舞台嶄露才華嗎？現在，與世界接軌的鑰匙就掌握在你手上。亞洲人才與創業孵化平台 - 
								//- a.primary-text(href="http://ping.com.sg", target="_blank") 
								//- 	|Ping! 
								//- |為推動創業風氣，與新加坡知名創投公司 - 
								//- a.primary-text(href="http://venturecraft.vc", target="_blank") 
								//- 	|Venturecraft 
								//- |VC共同打造Jumpstart計畫。 <br/><br/>

								//- |Jumpstart，亞洲第一個跨國商業合作計畫，我們幫助當地企業、人才與國際接軌，將有前景的理念、產品於世界舞台綻放，創造更大的商機。我們將不定期提供巨量的OPEN DATA及多元題材，期望各方人才組隊報名，互相激盪，創造更多商業價值。
	


			.section#sec_competition.container.no-pad(data-anchor='competition').fp-auto-height

				.slide.competition_topic.active#competition_topic_slide.relative-position.slide-padding
					.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
						.border_container
							.border.top
							.border.right.R_top
							.border.right.R_bottom
							.border.bottom
							.border.left
							.border.straight_line
							.border.straight_line_down
							//- .border.horizon_line
							//- a.competition_topic_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/1") next
							.col-md-12.clearfix.no-pad
								ul.competition-headings#competition_menu
									li 
										a.selected(href="#competition/") What we do
									//- li
									//- 	a(href="#competition/1") Organizer
									//- li 
									//- 	a(href="#competition/2") 獎項
									//- li 
									//- 	a(href="#competition/3") 承辦贊助
							.col-md-12
								.col-md-5.col-sm-5
									h4 RE-IMAGINING 
										span CORPORATE 
										//- |100 million 
										//- span users
									h4 INNOVATION		
								.col-md-7.col-sm-7.clearfix
									h5 5 key functions for our partnering corporations:
									
									p 
										//- |現在，我們開放自由行旅遊平台的100,000,000+筆活躍用戶資料，由你親手創造資料的價值！！只要你具有以下特質：
										ul 
											li 
												i.fa.fa-rocket
												b SENSE
												span <br/>
												|&nbsp&nbsp&nbsp&nbsp Emerging trends
											li 
												i.fa.fa-rocket
												b RESPOND
												span <br/>
												|&nbsp&nbsp&nbsp&nbsp Scout for disruptive technologies
											li 
												i.fa.fa-rocket
												b BUILD A TEAM
												span <br/>
												|&nbsp&nbsp&nbsp&nbsp Tap into local talent communities
											li 
												i.fa.fa-rocket
												b INNOVATE
												span <br/>
												|&nbsp&nbsp&nbsp&nbsp Serve as an innovation base for global companies
											li 
												i.fa.fa-rocket
												b PROMOTE
												span <br/>
												|&nbsp&nbsp&nbsp&nbsp Serve as a regional business development hub


										//- |不要懷疑了，快點加入Jumpstart計畫，與你的夥伴一起綻放國際！ 

							
					//- a.navy.btn.btn-4.btn-4a.icon-arrow-down2(href='#jumpnow') CREATE INFOGRAPHICS
								

				.slide#competition_info_slide.slide-padding
					.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
						.border_container
							.border.top
							.border.right.R_top
							.border.right.R_bottom
							.border.bottom
							.border.left
							//- .border.horizon_line
							.border.horizon_line_left
							a.competition_info_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition") prev
							//- a.competition_info_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/2") next
							
							.col-md-12.clearfix.no-pad-m
								ul.competition-headings#competition_menu
									li 
										a(href="#competition/") 競賽主題
									//- li
									//- 	a.selected(href="#competition/1") 承辦贊助
									//- li 
									//- 	a(href="#competition/2") 獎項
									//- li 
									//- 	a(href="#competition/3") 承辦贊助
							.col-md-12.clearfix.sponsor-group
									.col-md-3
										h3 主辦單位
										ul.sponsor-list.col-md-12.col-sm-3.clearfix
											li 
												img(src="../img/ping_logo.png")
												span 
													|來自新加坡的專業集團，打造出連續成功創業的佳績。Ping!，一個專業孵化平台，透過嚴格篩選talent，進而培養並激發各種可能，讓你與國際公司共同打造產品，提升自身能力及經驗。更進一步幫助平台內團隊相互砥礪，孵化、成長、綻放國際。
													a.gotosite(href="http://ping.com.sg", target="_blank") 	前往官網
 
									.col-md-9.clearfix
										h3 贊助單位
										.col-md-12.no-pad
											ul.sponsor-list.second
												li 
													img(src="../img/venture_craft_logo.png")
													span
														|Venturecraft，一間創投公司，致力於幫助各階段的新創公司開發產品、進入市場，提高國際競爭力。 我們與Singapore-MIT Alliance for Research And Technology (SMART) Innovation Centre、新加坡政府共同建立與國際接軌的橋樑。
														a.gotosite(href="http://www.venturecraft.vc" ,target="_blank") 	前往官網
												li 
													img(src="../img/螞蜂窩_logo.png")
													span
														|東亞最大的自由行社交網絡，背包客能分享彼此的旅遊經歷。隨著超過2100萬的評分和評論，即Mafengwo旅遊指南下載超過3.82億次，Mafengwo更貼近使用者提供酒店，機票，旅遊線路，簽證，保險信息...等便捷服務。
														a.gotosite(href="http://www.mafengwo.cn", target="_blank") 	前往官網
												li 
													img(src="img/DSEE_logo.png")
													span
														|國際企業發展局(IE Singapore)為新加坡組織機關，致力於促進新加坡企業開展海外經濟合作，協助新加坡企業國際化。我們的願景是發展一個Globally Competitive Companies(GCCS)的商業中心，領先全球國際貿易。
														
														a.gotosite(href="http://www.iesingapore.gov.sg" ,target="_blank") 	前往官網
												//- li
												//- 	img(src="../img/365_logo.png")
												//- 	span
												//- 		|SixThreeFive提供簡便的整合性服務，協助貴公司尋找最適合的資助並提供成熟的管理經驗，透過專業人士的協助讓你的公司運作得更加效率。
												//- 		a.gotosite(href="https://static.wixstatic.com/media/1e4f62_65f2102dbf7341cb9730a213d2fd0b40.png/v1/fill/w_202,h_180,al_c,lg_1/1e4f62_65f2102dbf7341cb9730a213d2fd0b40.png" ,target="_blank") 	前往官網
												//- li 
												//- 	img(src="img/DSEE_logo.png")
												//- 	span
												//- 		|國際企業發展局(IE Singapore)為新加坡組織機關，致力於促進新加坡企業開展海外經濟合作，協助新加坡企業國際化。我們的願景是發展一個Globally Competitive Companies(GCCS)的商業中心，領先全球國際貿易。
														
												//- 		a.gotosite(href="http://www.iesingapore.gov.sg" ,target="_blank") 	前往官網
												//- li 
												//- 	img(src="../img/e27_logo.png")
												//- 	span
												//- 		|我們給每個start-up一個成功的機會！隨著E27你將會被引領到一個擁有眾多資源的community，在裡面你可以接觸導師、合作夥伴、投資者、同事和客戶。現在，運用裡面所有的資源，打造屬於你的數十億美元的公司！
												//- 		a.gotosite(href="https://e27.co", target="_blank") 	前往官網
											
					

				.slide#competition_prize_slide.slide-padding
					.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
						.border_container
							.border.top
							.border.right.R_top
							.border.right.R_bottom
							.border.bottom
							.border.left
							.border.horizon_line
							.border.horizon_line_left
							a.competition_info_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition/1") prev
							a.competition_info_slide_arrow.slide_next.arrow.hidden-xs(href="#competition/3") next
							.col-md-12.clearfix.no-pad
								ul.competition-headings#competition_menu
									li 
										a(href="#competition") 競賽主題
									li
										a(href="#competition/1") 參賽資訊
									li 
										a.selected(href="#competition/2") 獎項
									li 
										a(href="#competition/3") 承辦贊助
								.col-md-12
									.col-md-4.col-sm-4
										.prize-single
										h4 NTD$90,000 
									.col-md-4.col-sm-4
										.prize-single
										h4 NTD$300,000
									.col-md-4.col-sm-4
										.prize-single
										h4 NTD$50,000
									.col-md-12
										p *入選隊伍均可於新加坡設立境外公司 <br/>
											small
												＊評審小組與主辦單位得視競賽情形作成從缺、或獎金增額之決議。<br/>
											small
												＊主辦單位保有修改、終止、變更活動內容細節之權利，且不另行通知。

				.slide#competition_sponsor_slide.slide-padding
					.slide-inner.zindex.clearfix.col-md-11.col-centered.no-pad
						.border_container
							.border.top
							.border.right.R_top
							.border.right.R_bottom
							.border.bottom
							.border.left
							.border.horizon_line_left
							a.competition_prize_slide_arrow.slide_prev.arrow.hidden-xs(href="#competition/2") prev
							.col-md-12.clearfix.no-pad
								ul.competition-headings#competition_menu
									li 
										a(href="#competition") 競賽主題
									li
										a(href="#competition/1") 參賽資訊
									li 
										a(href="#competition/2") 獎項
									li 
										a.selected(href="#competition/3") 承辦贊助
								.col-md-12.clearfix.sponsor-group
									.col-md-3
										h3 主辦單位
										ul.sponsor-list.col-md-12.col-sm-3.clearfix
											li 
												img(src="../img/ping_logo.png")
												span 
													|來自新加坡的專業集團，打造出連續成功創業的佳績。Ping!，一個專業孵化平台，透過嚴格篩選talent，進而培養並激發各種可能，讓你與國際公司共同打造產品，提升自身能力及經驗。更進一步幫助平台內團隊相互砥礪，孵化、成長、綻放國際。
													a.gotosite(href="http://ping.com.sg", target="_blank") 	前往官網
 
									.col-md-9.clearfix
										h3 贊助單位
										.col-md-12.no-pad
											ul.sponsor-list.second
												li 
													img(src="../img/venture_craft_logo.png")
													span
														|Venturecraft，一間創投公司，致力於幫助各階段的新創公司開發產品、進入市場，提高國際競爭力。 我們與Singapore-MIT Alliance for Research And Technology (SMART) Innovation Centre、新加坡政府共同建立與國際接軌的橋樑。
														a.gotosite(href="http://www.venturecraft.vc" ,target="_blank") 	前往官網
												li 
													img(src="../img/螞蜂窩_logo.png")
													span
														|東亞最大的自由行社交網絡，背包客能分享彼此的旅遊經歷。隨著超過2100萬的評分和評論，即Mafengwo旅遊指南下載超過3.82億次，Mafengwo更貼近使用者提供酒店，機票，旅遊線路，簽證，保險信息...等便捷服務。
														a.gotosite(href="http://www.mafengwo.cn", target="_blank") 	前往官網
												li 
													img(src="../img/citytours_logo.png")
													span
														|Cityours是亞洲觀光旅遊的領導者，將最好的旅遊經驗及景點帶給我們重視的每一位旅客。不管是觀光體驗還是得天獨厚的便利交通，我們都有自信滿足每一位旅客的需求。
														
														a.gotosite(href="https://www.citytours.sg" ,target="_blank") 	前往官網
												li
													img(src="../img/365_logo.png")
													span
														|SixThreeFive提供簡便的整合性服務，協助貴公司尋找最適合的資助並提供成熟的管理經驗，透過專業人士的協助讓你的公司運作得更加效率。
														a.gotosite(href="https://static.wixstatic.com/media/1e4f62_65f2102dbf7341cb9730a213d2fd0b40.png/v1/fill/w_202,h_180,al_c,lg_1/1e4f62_65f2102dbf7341cb9730a213d2fd0b40.png" ,target="_blank") 	前往官網
												li 
													img(src="img/DSEE_logo.png")
													span
														|國際企業發展局(IE Singapore)為新加坡組織機關，致力於促進新加坡企業開展海外經濟合作，協助新加坡企業國際化。我們的願景是發展一個Globally Competitive Companies(GCCS)的商業中心，領先全球國際貿易。
														
														a.gotosite(href="http://www.iesingapore.gov.sg" ,target="_blank") 	前往官網
												li 
													img(src="../img/e27_logo.png")
													span
														|我們給每個start-up一個成功的機會！隨著E27你將會被引領到一個擁有眾多資源的community，在裡面你可以接觸導師、合作夥伴、投資者、同事和客戶。現在，運用裡面所有的資源，打造屬於你的數十億美元的公司！
														a.gotosite(href="https://e27.co", target="_blank") 	前往官網


											


					


			.section#sec_jumpnow(data-anchor='jumpnow').section-padding.fp-auto-height
				//- 這樣包我就可以一個form包兩個slide的input
				form#reg_form(action="/upload",enctype="multipart/form-data",method="post")  
					.slide.jumpnow_part1.zindex
						.slide-inner.zindex.clearfix
							.col-md-5.jumpnow-des.no-pad
								.border_container.add-border-pad
									.border.top
									.border.right
									.border.bottom
									.border.L_top
									.border.L_bottom
									.border.horizon_line#jumpnow_part1_line
									h3 Connect with us 
										span.en_para if you are looking for:
										//- | 計畫!
									ul.plan_list
										li 
											b Disruptive   
											| industry trends
										li 
											b New   
											| product offerings
										li 
											b Local 
											| market adaptation
							.col-md-5.col-md-offset-2.white-text.jumpnow-btn-set.clearfix
								.border_container#border_btn
									.border.horizon_line
								a.bizplan_download.btn.btn-4.btn-4a.sec-orange Download PDF 
										i.fa.fa-cloud-download
								//- a(href="mailto:zzz22741@gmail.com?https://pod51038.outlook.com/owa/#viewmodel=IMailComposeViewModelFactory" target="_blank") randy@ping.com.sg
								a#connect_btn.imready.btn.btn-4.btn-4a.orange.icon-arrow-down2 Connect
								//- a.imready.btn.btn-4.btn-4a.orange.icon-arrow-right(href='mailto:hello@jumpstarter.asia') Connect
									
						
					.slide.team_details
						h2.hoshi 1. 填寫隊伍資訊
						.slide-inner.zindex.relative-position.clearfix.no-pad
							.border_container.add-border-pad
								.border.top
								.border.right.R_top
								.border.right.R_bottom
								.border.bottom
								.border.left
								.border.horizon_line
								
								//- a.slide_next.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow/2") next
								//- a.slide_prev.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow") prev
								
								.col-md-11.clearfix
								.col-md-5.clearfix
										span.input.input--hoshi.team_other
											input#input-4.input__field.input__field--hoshi(type='text',name='team_name')
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
													span.input__label-content.input__label-content--hoshi 隊伍名稱
													span.input__label-content.input__label-content--hoshi.reminder
										span.input.input--hoshi.team_other 
											|產品介紹	 
											
											span#counter_container.reminder 
												|還剩下
												span#counter.reminder  200
												|字 
												
											textarea(name='product_brief')#product_brief
										span.input
											.custom-file-upload.clearfix
													input#file.input__field(type='file',name='BP_file',multiple)
													span.input__label-content.input__label-content--hoshi.reminder
													label.input__label(for='file')
														
									.col-md-7.clearfix
										.team_detail_single.clearfix
											span.input.input--hoshi.team_member
												input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_name')
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
														span.input__label-content.input__label-content--hoshi 成員
														span.input__label-content.input__label-content--hoshi.reminder
											span.input.input--hoshi.responsibility
												input#input-4.input__field.input__field--hoshi(type='text' ,name='member_brief_info')

												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
														span.input__label-content.input__label-content--hoshi 負責項目
														span.input__label-content.input__label-content--hoshi.reminder
											
										button(id='add_member') 添加成員
									.nav_group
										a(class='button prev_btn',href='#jumpnow') 上一步
										a(class='button next_btn', href='javascript:void(0);') 下一步
					.slide.personal_details.fp-auto-height
						h2.hoshi 2. 聯絡人資料
						.slide-inner.zindex.clearfix.no-pad
							.border_container.add-border-pad
								.border.top
								.border.right.R_top
								.border.right.R_bottom
								.border.bottom
								.border.left
								//- a.slide_prev.arrow.slide_team_details_arrow.hidden-xs(href="#jumpnow/1") prev
								.col-md-6.personal_details_group
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='contact')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 姓名
												span.input__label-content.input__label-content--hoshi.reminder
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='phone')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi 電話
												span.input__label-content.input__label-content--hoshi.reminder
									span.input.input--hoshi
										input#input-4.input__field.input__field--hoshi(type='text',name='email')
										label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4')
												span.input__label-content.input__label-content--hoshi Email
												span.input__label-content.input__label-content--hoshi.reminder
									label.iagree
										input#agree(type="checkbox" name='agree' value="我同意") 
										span   我同意本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。
										span.input__label-content.input__label-content--hoshi.reminder

									//- input.col-centered(type='submit' value='我要提交計畫')
									a#reg_btn.submit_btn.btn.btn-4.btn-4a.orange
										|完成了，我要提交!
								.nav_group
										a(class='button prev_btn',href='#jumpnow/1') 上一步
										
							


			.section#sec_events.section-padding(data-anchor='events')
				.event_group.col-md-12
					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								.event_sg_tourism
									h3 E-TOURISM
									span Challenge 1
								
							.back_face
								.event_sg_tourism
									p.description 
									|WTraveling in the Digital Age

					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								.event_sg_robotic
									h3 ROBOTICS
									span Challenge 2
								
							.back_face
								.event_sg_robotic
									p.description 
									|Building an automated future

					.event_single.col-md-4.col-sm-4
						.event_single_rotate
							.front_face
								.event_sg_comingsoon
									h3 COMING SOON!
									span MEDTECH, IOT, SMARTCITY SOLUTIONS
							.back_face
								.event_sg_comingsoon
									p.description 本人或本團體已詳細閱讀過本活動之競賽規程且同意亦保證遵守大會於競賽規程中所約定之事項。

				.contact_container(data-anchor='contact')
					.col-md-12.contact_header.no-pad
						.col-md-12.no-pad
							h2 GET IN CONTACT
								span 
									i.fa.fa-angle-up
					.col-md-12.contact_form
						form#contact_us_form(action="/contact", enctype="multipart/form-data",method="post")
							.col-md-4.no-pad-m
								span.input.input--hoshi
									input#input-4-name.input__field.input__field--hoshi(type='text',name='user_name')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4-name')
											span.input__label-content.input__label-content--hoshi Name
											span.input__label-content.input__label-content--hoshi.reminder
								span.input.input--hoshi
									input#input-4-email.input__field.input__field--hoshi(type='email',name='user_email')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4-email')
											span.input__label-content.input__label-content--hoshi Email
											span.input__label-content.input__label-content--hoshi.reminder
								span.input.input--hoshi
									input#input-4-sub.input__field.input__field--hoshi(type='text',name='subject')
									label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='input-4-sub')
											span.input__label-content.input__label-content--hoshi Subject
											span.input__label-content.input__label-content--hoshi.reminder
							.col-md-4.no-pad-m
								textarea#textarea_mes(placeholder='Message...',name='user_msg',require)
								//- label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='textarea_mes')
								//- 	span.input__label-content.input__label-content--hoshi 
								//- 	span.input__label-content.input__label-content--hoshi
								
								
								//- input(type='submit' value='傳送給我們!')
								
								a#contact_btn.contact_us_btn.btn.orange.btn-4.btn-4a Submit
								//- button.contact_us_btn.btn.orange.btn-4.btn-4a|提交

							.col-md-4.contact-details.no-pad-m
								h3 Venturecraft Pte Ltd
								ul
									li
										h4 SINGAPORE ( HQ ) <br/>
										i.fa.fa-map-marker
										|20 Malacca Street, #16-00
										|Malacca Centre, Singapore  <br/>
										i.fa.fa-phone 
										|+65 6805 4339 <br/>
										i.fa.fa-envelope
										|hello@venturecraft.vc
									li
										h4 TAIWAN <br/>
										i.fa.fa-map-marker
										|台灣台北市中山區南京東路二段137號14樓 <br/>
										i.fa.fa-phone 
										|+886 2 7745 8486 <br/>
										i.fa.fa-envelope
										|hello@ping.com.sg
									
	

	//-classie.js is the function that runs the input effect
	script(type='text/javascript',src='../js/classie.js').
	script(src="../js/index.js")

							



					




