head
	meta(charset="UTF-8")
	title Document
body
	h1 Show
	h2 Upload successfully
	table
	for detail in details
		tr
			td detail.team_name
			td detail.product_brief
			td detail.member_brief


	table
	for detail in details
		tr
			td detail.contact
			td detail.adderss
			td detail.email
			td detail.phone

