head
	title Submit
	meta(charset='UTF-8')

body
	h1 Submit
	
	form(action="/upload", enctype="multipart/form-data", method="post")
		input(type='file', name='upload')
		input(type="submit", value="Upload file")
