head
	title Submit
	meta(charset='UTF-8')
	link(src="../css/submit.css", rel="stylesheet")

body
	h1 Submit
	
	form(action="/upload", enctype="multipart/form-data", method="post")
		.teamDetail
			input(type='text', name="team_name", placeholder="Team name")
			input(type="textarea", name="product_brief", cols="80", rows="20" placeholder="Product Brief")
			input(type="textarea", name="member_brief", cols="20", rows="20" placeholder="Team-member_brief")
			input(type='file', name='BP_file', placeholder="Upload ur BP")
			
		.contactDetail
			input(type="text", name="contact", placeholder="Contact name")
			input(type="text", name="email", placeholder="Email")
			input(type="text", name="phone", placeholder="Phone")
			input(type="text", name="address", placeholder="add")
			input(type="submit", value="Submit")
	