body {
	font-family:$base-font-family;
	font-size:$base-font-size;
	line-height:1.7em;
	color:$base-font-color;
	

}

a {
	color:#fff;
}

ul,li {
	list-style:none;
}

input, textarea, button {
	@include border-radius (0px);
}

img.device {
	width:100%;

}

/*BACKGROUND COLOUR***/

.primary_bg {
	background-color:$primary-color;
}

/*POSITIONS****/

.relative-position {
	position:relative;
}

/*FONTS****/

.en_para {
	font-family:$english;
}
.cn_para {
	font-family:$chinese;
}

.primary-color {
	color:$primary-color;
}
.white-color {
	color:#ffffff;
}


/**COLUMNS SETTINGS***/
.container {
	min-width:1388px;
}
.col-centered{
float: none;
margin: 0 auto;
}
