h1,h2,h3,h4,h5 {
	margin-top:0;
}

h3 {
	font-size:30px;
}

a {
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}

.page-header {
	margin-top:30px
}

.no-pad-top {
	padding-top:0;
}

.fp-tableCell {
	vertical-align:top !important;
}

.fp-controlArrow.fp-prev {
	background:transparent;
	height: 120px;
    width: 65px;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 0 150px 150px 0;
    -ms-border-radius:0 150px 150px 0;
    -webkit-border-radius:0 150px 150px 0;
    border: 1px solid #BBB;
    left:0;
    @include transition(all 0.1s);

    &:before {
    position: absolute;
    content: '';
    display: block;
    background: transparent;
    top: 0px;
    width: 25px;
    height: 40px;
    left: 25px;
    top: 42px;
    border-top: 1px solid #bbb;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    &:after {
    position: absolute;
    content: '';
    display: block;
    background: transparent;
    top: 0px;
    width: 25px;
    height: 40px;
    left: 25px;
    top: 32px;
    border-top: 1px solid #bbb;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    &:hover {
    	background:$secondary-color;
    	color:white !important;
    	border:0;
		-webkit-box-shadow: -3px 14px 0px -2px rgba(220,220,220,0.7);
			-moz-box-shadow: -3px 14px 0px -2px rgba(220,220,220,0.7);
			-ms-box-shadow: -3px 14px 0px -2px rgba(220,220,220,0.7);
			-o-box-shadow: -3px 14px 0px -2px rgba(220,220,220,0.7);
			box-shadow: -3px 14px 0px -2px rgba(220,220,220,0.7);

		&:before,&:after{
			border-top:1px solid white;
		}
    }
}

.fp-controlArrow.fp-next {
	@extend .fp-controlArrow.fp-prev; 
	-webkit-border-radius: 150px 0 0 150px;
	-moz-border-radius: 150px 0 0 150px;
	-o-border-radius: 150px 0 0 150px;
	-ms-border-radius: 150px 0 0 150px;
	border-radius: 150px 0 0 150px;
	right:0;
	left:initial;

	&:before {
    right:25px;
    left:initial;
    border-top: 1px solid #bbb;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    &:after {
    right:25px;
    left:initial;
    border-top: 1px solid #bbb;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    &:hover {
    		-webkit-box-shadow: 0px -14px 0px -2px rgba(220,220,220,0.7);
			-moz-box-shadow: 0px -14px 0px -2px rgba(220,220,220,0.7);
			-ms-box-shadow: 0px -14px 0px -2px rgba(220,220,220,0.7);
			-o-box-shadow: 0px -14px 0px -2px rgba(220,220,220,0.7);
			box-shadow: 0px -14px 0px -2px rgba(220,220,220,0.7);
    	}
	
	}
}

/*the setting about the slotMachine*/
.slotMachine{
	height: 40px;
	margin-bottom: 10px;
}
#slot3{
	margin-left: 152px;
	margin-top: -62px;
	// height: 1.8em;
}
#slot3 .slot{
	display: block;
    padding-left:20px;
	// height: 1.8em;
    // line-height: 1.8em;
}
#slotButton3{
	cursor: pointer;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}