/*Font Colors*/

$base-font-size:15px;
$base-font-family:"微軟正黑體", Sans-serif;
$base-font-color:#333;

/*Background Colours*/

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#333333;

/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';